yml/게임빌더_test_v1.yml
app:
  description: AI 인터랙티브 게임 - 테스트 플레이 전용 (히로인 5~10)
  icon: 🎮
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 게임빌더_테스트
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.19@5b68617c637b62d31e7f33a9f5677b76e88f81868fb04a728e208588564b72ea
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 현재 활성 게임 ID
    id: ad625fdc-ce46-4647-89f0-12dfeff9396c
    name: active_game_id
    selector:
    - conversation
    - active_game_id
    value: 86e35e0a-18b7-4fd7-bfd0-dc2fc7d47074
    value_type: string
  - description: 플레이 턴 카운터
    id: 1ba768b7-4e6f-4f34-9061-068e8d3bd6bd
    name: turn_count
    selector:
    - conversation
    - turn_count
    value: 0
    value_type: integer
  - description: 삭제 확인 대기중인 game_id
    id: 1fcd0605-4a51-4ecf-8918-6d8446e1d454
    name: pending_delete_id
    selector:
    - conversation
    - pending_delete_id
    value: ''
    value_type: string
  - description: 현재 모드(build/play). 슬래시 없으면 이 모드가 계속 유지됨
    id: 4e214006-f34a-4e15-80cd-650d51b8e006
    name: current_mode
    selector:
    - conversation
    - current_mode
    value: build
    value_type: string
  - description: 자동 음성 출력 활성화 여부 (기본 ON)
    id: 8a1c9c4e-7f2d-4b3a-9e5c-2d6f8a3b1c40
    name: auto_tts
    selector:
    - conversation
    - auto_tts
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 28c27356-cf6b-4ef5-902c-206b09fe5337
    name: SUPABASE_SERVICE_KEY
    selector:
    - env
    - SUPABASE_SERVICE_KEY
    value: sb_secret_NkwcIvqMYFA1ybDh_cUH0w_9TdimbO0
    value_type: secret
  - description: ''
    id: df4d3b6d-d796-4f09-adc2-aa8c7a68012a
    name: SUPABASE_URL
    selector:
    - env
    - SUPABASE_URL
    value: https://ckzwlmoojtmcpwlqsqzv.supabase.co
    value_type: string
  - description: ''
    id: 97ed6360-1e65-4de3-a7b0-004171dfaf9e
    name: FISH_API_KEY
    selector:
    - env
    - FISH_API_KEY
    value: c9d1c2d7cf1e4e78891ac5f07bf80e18
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: e_c_http_saveturn_source_c_http_setsave
      selected: false
      source: c_http_saveturn
      sourceHandle: source
      target: c_http_setsave
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: template-transform
      id: e_c_http_image_source_c_tpl_render
      selected: false
      source: c_http_image
      sourceHandle: source
      target: c_tpl_render
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: e_c_tpl_render_source_c_answer
      selected: false
      source: c_tpl_render
      sourceHandle: source
      target: c_answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: e_cmd_parse_va_turn
      source: ctx_load
      sourceHandle: source
      target: cmd_parse
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e_c_llm_extract_c_code_parser
      source: c_llm_extract
      sourceHandle: source
      target: c_code_parser
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: e_va_turn_g_http_active
      source: cmd_parse
      sourceHandle: source
      target: va_turn
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: e_g_va_active_ctx_load
      source: g_va_active
      sourceHandle: source
      target: ctx_load
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e_c_llm_source_c_answer_stream
      source: c_llm
      sourceHandle: source
      target: c_answer_stream
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e_c_code_strip_catalog_source_c_llm
      source: c_code_strip_catalog
      sourceHandle: source
      target: c_llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: e_c_answer_stream_source_c_code_clean
      source: c_answer_stream
      sourceHandle: source
      target: c_code_clean_narrative
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e_c_code_clean_source_c_llm_extract
      source: c_code_clean_narrative
      sourceHandle: source
      target: c_llm_extract
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: e_c_code_parser_c_code_check_autotts
      selected: false
      source: c_code_parser
      sourceHandle: source
      target: c_code_check_autotts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_check_autotts_if_auto_tts
      selected: false
      source: c_code_check_autotts
      sourceHandle: source
      target: if_auto_tts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e_if_auto_tts_true_c_code_voice_lookup_auto
      selected: false
      source: if_auto_tts
      sourceHandle: 'true'
      target: c_code_voice_lookup_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_voice_lookup_auto_if_has_tts
      selected: false
      source: c_code_voice_lookup_auto
      sourceHandle: source
      target: if_has_tts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_if_has_tts_true_h_http_tts_worker_auto
      selected: false
      source: if_has_tts
      sourceHandle: 'true'
      target: h_http_tts_worker_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e_h_http_tts_worker_auto_c_code_audio_url_parse_auto
      selected: false
      source: h_http_tts_worker_auto
      sourceHandle: source
      target: c_code_audio_url_parse_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: e_c_code_audio_url_parse_auto_c_tpl_audio_final_auto
      selected: false
      source: c_code_audio_url_parse_auto
      sourceHandle: source
      target: c_tpl_audio_final_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: e_c_tpl_audio_final_auto_c_answer_audio_auto
      selected: false
      source: c_tpl_audio_final_auto
      sourceHandle: source
      target: c_answer_audio_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_if_auto_tts_false_c_http_image
      selected: false
      source: if_auto_tts
      sourceHandle: 'false'
      target: c_http_image
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_if_has_tts_false_c_http_image
      selected: false
      source: if_has_tts
      sourceHandle: 'false'
      target: c_http_image
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: http-request
      id: e_c_answer_audio_auto_c_http_image
      selected: false
      source: c_answer_audio_auto
      sourceHandle: source
      target: c_http_image
      targetHandle: target
      type: custom
    - id: edge_va_turn_c_code_strip_catalog_5fae52ed
      source: va_turn
      target: c_code_strip_catalog
    - id: edge_c_code_parser_c_http_saveturn_39f57e02
      source: c_code_parser
      target: c_http_saveturn
    - id: edge_c_http_setsave_c_http_image_c7849ccb
      source: c_http_setsave
      target: c_http_image
    - id: edge_start_g_va_active_b5674448
      source: start
      target: g_va_active
    nodes:
    - id: c_code_check_autotts
      data:
        code: "function main({auto_tts}) {\n  return { auto_tts: auto_tts !== false };\n}"
        code_language: javascript
        desc: auto_tts 설정 확인 - undefined/미설정이면 기본 ON
        outputs:
          auto_tts:
            type: boolean
        selected: false
        title: 자동음성 확인
        type: code
        variables:
        - value_selector:
          - conversation
          - auto_tts
          variable: auto_tts
      height: 96
      position:
        x: 4172
        y: 1500
      positionAbsolute:
        x: 4172
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: if_auto_tts
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_auto_tts_c
            value: 'true'
            varType: boolean
            variable_selector:
            - c_code_check_autotts
            - auto_tts
          id: 'true'
          logical_operator: and
        desc: auto_tts ON일 때만 음성 생성 경로로 분기
        selected: false
        title: IF 자동음성 ON
        type: if-else
      height: 96
      position:
        x: 4480
        y: 1500
      positionAbsolute:
        x: 4480
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_code_voice_lookup_auto
      data:
        code: "function main({ctx, llm_text, cid}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch(e){}\n  const master = obj.master || {};\n  const chars = master.characters || {};\n  const name = (chars[cid] && chars[cid].name) ? chars[cid].name : '';\n\n  const scene = String(llm_text || '').split('\\n---')[0];\n  const speakerRe = /\\*{0,2}([가-힣A-Za-z0-9]{2,12})\\*{0,2}\\s*(?:\\(([^)\\n]{0,60})\\))?\\s*:\\s*\"([^\"]+)\"/g;\n  let lines = [], m;\n  while ((m = speakerRe.exec(scene)) !== null) {\n    if (name && m[1].trim() !== name) continue;\n    lines.push((m[2] ? '['+m[2]+'] ' : '') + m[3]);\n  }\n  if (!lines.length) return { skip_tts: true, tts_text: '', voice_id: '' };\n\n  let text = lines.join(' ... ').replace(/[\"\\\\]+/g,' ').replace(/[\\r\\n]+/g,' ').replace(/\\s{2,}/g,' ').trim();\n  let voice = (chars[cid] && chars[cid].voice_id) ? chars[cid].voice_id : '';\n  if (!voice) { const first = Object.keys(chars)[0]; if (first) voice = chars[first].voice_id; }\n  return { skip_tts: false, tts_text: text, voice_id: voice };\n}"
        code_language: javascript
        desc: 이번 턴에 검증된 화자(c_code_parser.character_id)와 정제된 서사(narrative_text)만 사용. 지난 턴 값(ctx.save.last_character_id)을 쓰지 않아 화자 바뀐 턴에서도 정확함
        outputs:
          skip_tts:
            type: boolean
          tts_text:
            type: string
          voice_id:
            type: string
        selected: false
        title: 자동 보이스 조회
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
        - value_selector:
          - c_code_parser
          - narrative_text
          variable: llm_text
        - value_selector:
          - c_code_parser
          - character_id
          variable: cid
      height: 128
      position:
        x: 4790
        y: 1500
      positionAbsolute:
        x: 4790
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: if_has_tts
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_has_tts_c
            value: false
            varType: boolean
            variable_selector:
            - c_code_voice_lookup_auto
            - skip_tts
          id: 'true'
          logical_operator: and
        desc: 대사가 있을 때만 음성 생성 (skip_tts=false)
        selected: false
        title: IF 대사 있음
        type: if-else
      height: 96
      position:
        x: 5100
        y: 1500
      positionAbsolute:
        x: 5100
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: h_http_tts_worker_auto
      data:
        authorization:
          type: no-auth
        body:
          data:
          - id: worker_body_auto
            key: ''
            type: text
            value: '{"text": "{{#c_code_voice_lookup_auto.tts_text#}}", "voice_id": "{{#c_code_voice_lookup_auto.voice_id#}}"}'
          type: json
        desc: auto_tts 경로용 Fish Audio TTS 호출. 실패해도 이 가지만 끊길 뿐 c_code_parser 이후의 저장/이미지 흐름과는 무관
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: TTS Worker 호출 (자동)
        type: http-request
        url: https://fancy-dust-7f8c.zeroslove.workers.dev/
      height: 138
      position:
        x: 5410
        y: 1500
      positionAbsolute:
        x: 5410
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_code_audio_url_parse_auto
      data:
        code: "function main({body}) {\n  let url = '';\n  try { url = (JSON.parse(body || '{}').url) || ''; } catch (e) {}\n  return { url: url, raw: body };\n}"
        code_language: javascript
        desc: Worker 응답 JSON에서 url 필드 추출
        outputs:
          raw:
            type: string
          url:
            type: string
        selected: false
        title: URL 파싱 (자동)
        type: code
        variables:
        - value_selector:
          - h_http_tts_worker_auto
          - body
          variable: body
      height: 80
      position:
        x: 5720
        y: 1500
      positionAbsolute:
        x: 5720
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_tpl_audio_final_auto
      data:
        desc: Worker 응답 JSON에서 url 필드를 파싱해 audio 태그로 감쌈
        selected: false
        template: '{% if url %}<audio controls src="{{ url }}"></audio>{% else %}(음성 생성 실패){% endif %}'
        title: 오디오 태그 조립 (자동)
        type: template-transform
        variables:
        - value_selector:
          - c_code_audio_url_parse_auto
          - url
          variable: url
      height: 96
      position:
        x: 6030
        y: 1500
      positionAbsolute:
        x: 6030
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_answer_audio_auto
      data:
        answer: '{{#c_tpl_audio_final_auto.output#}}'
        desc: auto_tts 경로용 음성 인라인 재생
        selected: false
        title: 음성 재생 (자동)
        type: answer
      height: 102
      position:
        x: 6340
        y: 1500
      positionAbsolute:
        x: 6340
        y: 1500
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        title: 시작
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 0
        y: 659.5333333333334
      positionAbsolute:
        x: 0
        y: 659.5333333333334
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({query, current_mode, ctx_body, pending_delete_id, auto_tts_in}) {\n  let turn_count = 0;\n  let auto_tts = (typeof auto_tts_in === 'boolean') ? auto_tts_in : true;\n  try {\n    const ctx = JSON.parse(ctx_body || '{}');\n    turn_count = ctx.turn_count || 0;\n    if (ctx.save && ctx.save.data && typeof ctx.save.data.auto_tts === 'boolean') {\n      auto_tts = ctx.save.data.auto_tts;\n    }\n  } catch (e) {}\n\n  const q = (query || '').normalize('NFC').trim();\n  let new_auto_tts = auto_tts;\n\n  // 테스트 모드: /음성자동 켜기/끄기만 허용, 나머지는 모두 PLAY\n  if (q.startsWith('/음성자동')) {\n    new_auto_tts = !(q.includes('끄기') || q.toLowerCase().includes('off'));\n  }\n\n  return {\n    route: 'play',\n    next_mode: 'play',\n    rest_text: q,\n    turn_count: turn_count || 0,\n    auto_tts: new_auto_tts\n  };\n}"
        code_language: javascript
        desc: 슬래시 있으면 모드전환, 없으면 직전 모드 유지 -> 자연어 대화 가능
        outputs:
          auto_tts:
            type: boolean
          next_mode:
            type: string
          rest_text:
            type: string
          route:
            type: string
          turn_count:
            type: number
        selected: false
        title: 라우터(모드유지)
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - conversation
          - current_mode
          variable: current_mode
        - value_selector:
          - ctx_load
          - body
          variable: ctx_body
        - value_selector:
          - conversation
          - pending_delete_id
          variable: pending_delete_id
        - value_selector:
          - conversation
          - auto_tts
          variable: auto_tts_in
      height: 96
      id: cmd_parse
      position:
        x: 640.5714285714286
        y: 680.5333333333334
      positionAbsolute:
        x: 640.5714285714286
        y: 680.5333333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "86e35e0a-18b7-4fd7-bfd0-dc2fc7d47074", "p_recent_count": 15}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: Context Load
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/get_context'
      height: 141
      id: ctx_load
      position:
        x: 1346
        y: 784.2166666666667
      positionAbsolute:
        x: 1346
        y: 784.2166666666667
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - turn_count
          variable_selector:
          - conversation
          - turn_count
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - next_mode
          variable_selector:
          - conversation
          - current_mode
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - auto_tts
          variable_selector:
          - conversation
          - auto_tts
        selected: false
        title: 상태 저장
        type: assigner
        version: '2'
      height: 110
      id: va_turn
      position:
        x: 2030
        y: 831.8833333333334
      positionAbsolute:
        x: 2030
        y: 831.8833333333334
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: over-write
          value: 86e35e0a-18b7-4fd7-bfd0-dc2fc7d47074
          variable_selector:
          - conversation
          - active_game_id
        selected: false
        title: active_game_id 동기화
        type: assigner
        version: '2'
      height: 84
      id: g_va_active
      position:
        x: 1506
        y: 620
      positionAbsolute:
        x: 1506
        y: 620
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({ctx}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch (e) {}\n  const rawCatalog = Array.isArray(obj.image_catalog) ? obj.image_catalog : [];\n  const save = obj.save || {};\n  const master = obj.master || {};\n  const pick = (src, keys) => {\n    const out = {};\n    for (const k of keys) {\n      if (src && Object.prototype.hasOwnProperty.call(src, k)) out[k] = src[k];\n    }\n    return out;\n  };\n  const isEmpty = (v) => v === null || v === undefined || v === '' || (Array.isArray(v) && v.length === 0) || (typeof v === 'object' && !Array.isArray(v) && Object.keys(v).length === 0);\n  const cleanSave = (src) => {\n    const out = {};\n    for (const k of Object.keys(src || {})) {\n      if (k.startsWith('debug_')) continue;\n      if (k === 'rules_full' || k === 'master' || k === 'image_catalog') continue;\n      const v = src[k];\n      if (isEmpty(v)) continue;\n      out[k] = v;\n    }\n    return out;\n  };\n  // 서사LLM용: 이미지는 서사LLM이 고르지 않으므로 카탈로그 자체를 완전히 비운다(이미지 언급 유발 방지).\n  // recent_memories는 get_context RPC가 이미 서버단에서 오래된 턴의 마인드모니터/상황판을 걸러주므로 그대로 사용한다.\n  const forNarrative = Object.assign({}, obj);\n  forNarrative.image_catalog = {};\n  forNarrative.save = cleanSave(save);\n\n  // 상태추출LLM용: 기존 v25 slim 유지\n  const forExtract = {\n    game_id: obj.game_id,\n    has_game: obj.has_game,\n    title: obj.title,\n    turn_count: obj.turn_count,\n    characters: master.characters,\n    stat_definitions: master.stat_definitions,\n    save: pick(save, ['npc_stats','npc_emotion','story_summary_overall','story_summary_recent100','recent100_start_turn','turn_count']),\n    story_summary_overall: obj.story_summary_overall || save.story_summary_overall || '',\n    story_summary_recent100: obj.story_summary_recent100 || save.story_summary_recent100 || '',\n    image_catalog: rawCatalog.map(it => ({\n      image_id: it.image_id,\n      character_id: it.character_id,\n      emotion_id: it.emotion_id,\n      situation: it.situation,\n      is_sexual: !!it.is_sexual\n    }))\n  };\n\n  return { stripped: JSON.stringify(forNarrative), stripped_extract: JSON.stringify(forExtract) };\n}"
        code_language: javascript
        desc: 서사LLM용 컨텍스트에서 image_catalog 제거 (LLM이 URL 보고 마크다운 이미지를 직접 생성하는 걸 막기 위함). 상태추출LLM은 이 노드를 안 거치고 ctx_load.body를 그대로 씀(emotion_id 매칭에 카탈로그 필요)
        outputs:
          stripped:
            type: string
          stripped_extract:
            type: string
        selected: false
        title: 컨텍스트 정제(서사/추출용 분리)
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
      height: 160
      id: c_code_strip_catalog
      position:
        x: 2900
        y: 620
      positionAbsolute:
        x: 2900
        y: 620
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - c_code_strip_catalog
          - stripped
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            max_tokens: 12000
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0c8752d6-8f38-4d18-83f2-180fccc500a1
          role: system
          text: '너는 인터랙티브 게임의 진행자다. 아래 게임 설정과 장기기억을 바탕으로 사용자의 행동에 이어지는 장면을 진행하라.


            [절대 금지 — 이중 이미지 방지]

            너의 출력에 `![` 문자열, 마크다운 이미지 문법, 이미지 URL, `http`로 시작하는 링크를 절대 포함하지 마라. 이미지는 별도 렌더러가 마지막에 한 장만 붙인다. 네가 이미지 문법이나 URL을 쓰면 같은 그림이 두 장으로 출력된다.


            대화 기록(이전 턴들)에 보이는 `![...](...)` 형태는 네가 쓴 서사가 아니라, 시스템이 매 턴 마지막에 자동으로 붙인 렌더 결과물이다. 그 형식을 문체로 따라하지 마라.

            나쁜 예: (서사 마지막에) ![heroine3](https://...)

            좋은 예: (이미지 언급 없이 장면 묘사로만 끝맺기)


            [게임 설정 / 세이브 / 장기기억]

            {{#context#}}


            [모드 진입 안내]

            사용자의 이번 메시지가 "/플레이"만 딱 입력되고 다른 지시가 전혀 없는 경우(진입 신호):

            게임 제목/game_id/현재 턴수와 지금까지의 진행 상황(story_summary_overall 등)을 짧게 요약해서 보여준 뒤, 위 [게임 설정 / 세이브 / 장기기억]의 가장 마지막 턴에 있던 선택지(①②③... 목록)를 그대로 다시 보여줘라. 새로운 장면을 전개하거나 NPC의 행동/대사를 새로 쓰지 마라 — 플레이어가 아직 아무 행동도 입력하지 않았으니, 요약과 지난 선택지만 다시 보여주고 플레이어의 다음 입력을 기다려라.

            "새로 시작할까요"처럼 되묻지 않는다 — 플레이 모드는 항상 이어하기만 한다. 새 게임/초기화는 빌드 모드(reset_progress)에서만 처리하며, 여기서는 그런 옵션을 제시하지 않는다.

            그 외의 평범한 진행 요청(구체적 행동 지시가 있는 경우)에는 이 요약 없이 바로 장면을 이어간다.


            [출력 원칙]

            - 위 게임 설정에 출력 형식(display_format, mind_monitor_format 등)이 정의돼 있으면 섹션 구성·순서·선택지 위치까지 그 정의를 그대로 따라라. 여기서 별도로 규칙을 덧붙이지 않는다.

            - 설정에 없는 내용(직업·신분·관계 등)을 지어내지 말고, 장기기억과 모순되지 않게 진행하라.

            - 캐릭터의 나이는 master의 characters 항목에 명시된 값이 유일한 기준이다. 체형이나 성격 묘사(가녀린/소심한/수줍은 등)와 나이를 절대 혼동하지 마라 - 모든 캐릭터는 설정된 나이의 명백한 성인이다.

            - 사람이 그대로 읽을 화면만 써라. JSON, 코드블록, 메타 설명(예: "규칙에 따라 출력합니다")은 절대 쓰지 마라. 바로 장면부터 시작하라.

            - 너의 응답은 사람이 읽는 순수 텍스트 서사와 대사만으로 구성된다. 이미지·사진·시각자료는 별도 시스템이 전담한다(위 [절대 금지 — 이중 이미지 방지] 참조).

            - 사용자에게 선택지를 제시할 경우 가장 마지막에 출력한다. 마인드 모니터나 상황판보다 아래 배치해야한다.


            [자기검증 필수]

            응답을 완성하기 전에, 게임 설정의 rulebook_verification에 있는 체크리스트를 항목별로 하나씩 스스로 점검해라.

            특히 [마인드 모니터] 섹션과 [플레이어 상황판] 섹션은 매턴 예외 없이 포함되는 필수 섹션이다 — 서사가 짧거나 사소한 턴이어도 생략하지 마라.

            체크리스트 중 하나라도 빠졌다면, 그 섹션을 채워 넣은 뒤에만 응답을 끝내라. 빠진 채로 응답을 마치는 것은 절대 금지한다.

            마지막으로, 지금까지 쓴 응답 전체를 훑어서 `![`, 이미지 URL, `http`로 시작하는 링크가 단 한 글자도 없는지 확인해라. 혹시 있다면 응답을 끝내기 전에 그 부분을 반드시 지워라 — 이 확인 없이 응답을 마치는 것도 금지한다.

            '
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 플레이 LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: c_llm
      position:
        x: 3800
        y: 1318.3500000000001
      positionAbsolute:
        x: 3800
        y: 1318.3500000000001
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({text, narrative, catalog}) {\n  // 서사LLM이 마크다운 이미지를 직접 삽입하는 경우가 있어(모델 자체 습관, 메모리/컨텍스트와 무관하게 발생),\n  // 화면 스트리밍은 못 막아도 최소한 저장되는 내용에서는 제거해 다음 턴 기억으로 재유입되지 않게 한다.\n  const hadInlineImage = !!(narrative && narrative.includes('!['));\n  if (narrative) narrative = narrative.replace(/!\\[[^\\]]*\\]\\([^\\s]*\\)/g, '').replace(/\\n{3,}/g, '\\n\\n').trim();\n\n  let jsonStr = null;\n  let m = text.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\n  if (m) jsonStr = m[1];\n  if (!jsonStr) {\n    m = text.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (m && m[1].trim().startsWith('{')) jsonStr = m[1];\n  }\n  if (!jsonStr) {\n    const first = text.indexOf('{');\n    const last = text.lastIndexOf('}');\n    if (first !== -1 && last > first) jsonStr = text.slice(first, last + 1);\n  }\n\n  let j = {};\n  if (jsonStr) { try { j = JSON.parse(jsonStr); } catch(e) {} }\n\n  const esc = (s) => JSON.stringify(String(s == null ? '' : s)).slice(1, -1);\n\n  const choices = Array.isArray(j.choices) ? j.choices : [];\n\n  let cid = j.character_id || 'narrator';\n  const npcsPresent = Array.isArray(j.npcs_present) ? j.npcs_present.filter(x => typeof x === 'string' && x.trim()) : [];\n  if (npcsPresent.length > 0 && !npcsPresent.includes(cid)) {\n    cid = npcsPresent[0]; // LLM이 목록을 무시하고 narrator 등을 골랐으면 목록의 첫 NPC로 강제 교정\n  }\n  // npcs_present가 비어있는데도 cid가 narrator/미매핑이면, 서사 원문에 등장한 캐릭터 실명을 찾아 최후 보정\n  if ((!cid || cid === 'narrator') && (narrative || '')) {\n    const nameMap = {\n      '한소영': 'heroine1', '강세라': 'heroine2', '최유리': 'heroine3', '배수진': 'heroine4',\n      '김지은': 'heroine5', '윤아름': 'heroine6', '서지아': 'heroine7', '한세아': 'heroine8',\n      '박소현': 'heroine9', '임수정': 'heroine10'\n    };\n    for (const name in nameMap) {\n      if (narrative.includes(name)) { cid = nameMap[name]; break; }\n    }\n  }\n  const stats = (j.npc_stats && typeof j.npc_stats === 'object') ? j.npc_stats : {};\n  const emotion = (j.npc_emotion && typeof j.npc_emotion === 'object') ? j.npc_emotion : {};\n\n  const savePatch = { npc_stats: {}, npc_emotion: {},\n    story_summary_overall: j.story_summary_overall || '',\n    story_summary_recent100: j.story_summary_recent100 || '' };\n  if (j.recent100_reset && typeof j.new_recent100_start_turn === 'number') {\n    savePatch.recent100_start_turn = j.new_recent100_start_turn;\n  }\n  savePatch.npc_stats[cid] = stats;\n  savePatch.npc_emotion[cid] = emotion;\n\n  let imgIdStr = '';\n  if (j.image_id !== undefined && j.image_id !== null && j.image_id !== 'null') {\n    const n = parseInt(j.image_id, 10);\n    if (!isNaN(n)) imgIdStr = String(n);\n  }\n\n  // image_id는 추출LLM이 별도로 고르므로, 다단계 보정을 거친 cid와 교차검증한다.\n  // 불일치/검증실패 시 잘못된 캐릭터 사진을 보여주기보다 image_id를 비워 캐릭터 폴백으로 본다.\n  let imgMismatch = '';\n  if (imgIdStr) {\n    try {\n      const catObj = JSON.parse(catalog || '{}');\n      const items = Array.isArray(catObj.image_catalog) ? catObj.image_catalog : [];\n      const hit = items.find(it => String(it.image_id) === String(imgIdStr));\n      if (!hit) {\n        imgMismatch = JSON.stringify({ reason: 'image_id_not_in_catalog', image_id: imgIdStr, cid: cid });\n        imgIdStr = '';\n      } else {\n        const imgCid = hit.character_id || '';\n        const narratorDefaultOk = (cid === 'narrator' && imgCid === 'default');\n        if (!narratorDefaultOk && imgCid !== cid) {\n          imgMismatch = JSON.stringify({ reason: 'character_mismatch', image_id: imgIdStr, image_character_id: imgCid, cid: cid });\n          imgIdStr = '';\n        }\n      }\n    } catch (e) {\n      imgMismatch = JSON.stringify({ reason: 'catalog_parse_failed', image_id: imgIdStr, cid: cid });\n      imgIdStr = '';\n    }\n  }\n  savePatch.last_character_id = cid;\n  savePatch.last_image_id = imgIdStr || null;\n  // 진단용: LLM이 image_id 필드에 실제로 뭘 썼는지(필드 누락/null/이상값 구분) 그대로 기록\n  savePatch.debug_image_id_raw = JSON.stringify(j.image_id === undefined ? '__MISSING__' : j.image_id);\n  savePatch.debug_json_parse_ok = jsonStr ? 'true' : 'false';\n  savePatch.debug_image_mismatch = imgMismatch || 'false';\n  savePatch.debug_stream_image_injected = hadInlineImage ? 'true' : 'false';\n\n  return {\n    narrative_text: narrative || '',\n    narrative_escaped: esc(narrative || ''),\n    save_patch_json: JSON.stringify(savePatch),\n    choices: choices,\n    character_id: cid,\n    emotion_id: 'default',\n    image_id: imgIdStr\n  };\n}"
        code_language: javascript
        desc: LLM 텍스트 파싱
        outputs:
          character_id:
            type: string
          choices:
            type: array[string]
          emotion_id:
            type: string
          image_id:
            type: string
          narrative_escaped:
            type: string
          narrative_text:
            type: string
          save_patch_json:
            type: string
        selected: false
        title: 상태 파서
        type: code
        variables:
        - value_selector:
          - c_llm_extract
          - text
          variable: text
        - value_selector:
          - c_llm
          - text
          variable: narrative
        - value_selector:
          - c_code_strip_catalog
          - stripped_extract
          variable: catalog
      height: 80
      id: c_code_parser
      position:
        x: 4172.134699223536
        y: 1241.8500000000001
      positionAbsolute:
        x: 4172.134699223536
        y: 1241.8500000000001
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "86e35e0a-18b7-4fd7-bfd0-dc2fc7d47074", "p_turn_number": {{#conversation.turn_count#}}, "p_content": "{{#c_code_parser.narrative_escaped#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: save_turn 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/save_turn'
      height: 141
      id: c_http_saveturn
      position:
        x: 4484
        y: 1315.1833333333334
      positionAbsolute:
        x: 4484
        y: 1315.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "86e35e0a-18b7-4fd7-bfd0-dc2fc7d47074", "p_patch": {{#c_code_parser.save_patch_json#}}, "p_turn_number": {{#conversation.turn_count#}}}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: set_save 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/set_save'
      height: 141
      id: c_http_setsave
      position:
        x: 4826
        y: 1338.6833333333334
      positionAbsolute:
        x: 4826
        y: 1338.6833333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "29809a8f-b8f1-4fa4-bce1-083e5a7eadac", "p_character_id": "{{#c_code_parser.character_id#}}", "p_emotion_id": "{{#c_code_parser.emotion_id#}}", "p_image_id": "{{#c_code_parser.image_id#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: 캐릭터 이미지 조회
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/get_character_image'
      height: 141
      id: c_http_image
      position:
        x: 5168
        y: 1362.1833333333334
      positionAbsolute:
        x: 5168
        y: 1362.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: '{% set u = img | replace(''"'','''') | trim %}{% if u and u != ''null'' and u != ''None'' %}

          ![{{ cid }}]({{ u }})

          {% else %}

          (이미지 조회 실패: character_id={{ cid }}, emotion_id={{ eid }})

          {% endif %}'
        title: 이미지 렌더
        type: template-transform
        variables:
        - value_selector:
          - c_http_image
          - body
          variable: img
        - value_selector:
          - c_code_parser
          - character_id
          value_type: string
          variable: cid
        - value_selector:
          - c_code_parser
          - emotion_id
          value_type: string
          variable: eid
      height: 52
      id: c_tpl_render
      position:
        x: 5510
        y: 1430.1833333333334
      positionAbsolute:
        x: 5510
        y: 1430.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#c_tpl_render.output#}}'
        desc: ''
        selected: false
        title: 이미지 출력
        type: answer
      height: 102
      id: c_answer
      position:
        x: 5925.200402522706
        y: 1425.6934002435653
      positionAbsolute:
        x: 5925.200402522706
        y: 1425.6934002435653
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#c_llm.text#}}'
        desc: LLM text 직접 참조 -> 실시간 스트리밍
        selected: false
        title: 서사 스트리밍
        type: answer
      height: 130
      id: c_answer_stream
      position:
        x: 2200
        y: 1900
      positionAbsolute:
        x: 2200
        y: 1900
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({raw}) {\n  const t = raw || '';\n  // 더 강력한 이미지 제거: ![anything](any-url)\n  const cleaned = t.replace(/!\\[[\\s\\S]*?\\]\\([\\s\\S]*?\\)/g, '').replace(/\n{3,}/g, '\n\n').trim();\n  return { clean: cleaned };\n}"
        code_language: javascript
        desc: 스트리밍은 이미 끝난 뒤(사용자에게 이미 보여준 뒤) 상태추출LLM이 읽을 서사 원문에서만 마크다운 이미지를 제거. 화면 표시엔 영향 없음
        outputs:
          clean:
            type: string
        selected: false
        title: 추출용 서사 세척
        type: code
        variables:
        - value_selector:
          - c_llm
          - text
          variable: raw
      height: 128
      id: c_code_clean_narrative
      position:
        x: 3780
        y: 700
      positionAbsolute:
        x: 3780
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - c_code_strip_catalog
          - stripped_extract
        desc: 서사에서 상태/이미지 선택만 뽑아냄 (화면에 안 보임)
        model:
          completion_params:
            max_tokens: 10000
            thinking: false
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 82c92c18-7ffa-4621-a027-09b04c02f3f4
          role: system
          text: "너는 플레이 LLM이 방금 쓴 서사를 읽고, 저장/이미지에 필요한 값만 그대로 옮겨 적는 역할이다. 새로운 판단이나 계산을 하지 마라 — 서사에 이미 적힌 수치 변동을 그대로 절대값으로 환산해서 옮기기만 해라. JSON 코드블록 하나만 출력하고 다른 말은 절대 하지 마라.\n\n[줄거리 요약 갱신 — 크기 고정형]\nstory_summary_recent100(500자) 뒤에 이번 턴 핵심 사건을 이어붙인다. 500자 초과 시 오래된 부분 압축.\n(turn_count - recent100_start_turn) >= 100 이면: recent100 전체를 2~3문장으로 압축해 story_summary_overall(1000자) 뒤에 붙인다(1000자 초과 시 오래된 부분 삭제). recent100는 이번 턴 사건만 담아 새로 시작. recent100_reset=true, new_recent100_start_turn=현재턴.\n평범한 턴: recent100_reset=false, new_recent100_start_turn=0.\n\n[캐릭터 ID 매핑 — character_id는 반드시 이 중 하나만 써라. 이 목록에 없는 값은 절대 쓰지 마라]\n한소영=heroine1, 강세라=heroine2, 최유리=heroine3, 배수진=heroine4, 김지은=heroine5, 윤아름=heroine6, 서지아=heroine7, 한세아=heroine8, 박소현=heroine9, 임수정=heroine10\nnarrator는 정말로 주변에 NPC가 단 한 명도 없는 장면(플레이어 혼자, 빈 공간, 어플 화면만 들여다보는 등)에만 써라.\n서사에 NPC가 한 명이라도 등장해서 플레이어와 상호작용하거나 대화하고 있다면, narrator가 아니라 반드시 그 NPC의 heroine ID를 써라.\n플레이어가 주어로 서술되는 문장이 많아도(예: \"당신은 최유리에게 다가가 말했다\") 대상이 되는 NPC가 있으면 narrator를 쓰지 마라.\nNPC가 두 명 이상 동시에 등장하면(예: 한 명은 지켜보고 한 명은 직접 접촉 중), 반드시 플레이어와 가장 직접적/신체적으로 상호작용 중인 NPC 한 명만 골라라(예: 키스/스킨십 중인 대상 > 옆에서 지켜만 보는 대상). 애매하다고 narrator로 도망치지 마라 — 등장한 NPC 중 하나를 반드시 고른다.\n\n[방금 생성된 서사]\n{{#c_code_clean_narrative.clean#}}\n\n[게임 설정 / 이전 저장값]\n{{#context#}}\n\n```json\n{\n  \"npcs_present\": [\"이 서사에 실제로 등장해서 플레이어와 상호작용하거나 곁에 있는 NPC의 heroine ID를 전부 나열. 아무도 없으면 빈 배열 []\"],\n  \"character_id\": \"character_id는 반드시 npcs_present 배열 안에서만 고른다. 배열이 비어있을 때만 narrator를 쓴다. 배열에 값이 있는데 narrator를 쓰는 것은 금지.\",\n  \"npc_emotion\": {\"surface\": \"겉으로 드러난 감정\", \"inner\": \"속마음\"},\n  \"npc_stats\": {\"호감도\": 0, \"신뢰도\": 0, \"최면깊이\": 0, \"순응도\": 0, \"최면저항력\": 0},\n  \"story_summary_overall\": \"전체 누적 요약 (아래 지시 참고, 1000자 이내)\",\n  \"story_summary_recent100\": \"최근 100턴 구간 요약 (아래 지시 참고, 500자 이내)\",\n  \"recent100_reset\": false,\n  \"new_recent100_start_turn\": 0,\n  \"choices\": [\"위 서사에 이미 나온 선택지들을 그대로 옮겨라\"],\n  \"image_id\": \"1) 먼저 지금 이 장면이 성적인 행위/노출 묘사인지(is_sexual=true) 아닌지(false)를 판단한다. 2) context의 image_catalog에서 character_id가 일치하고 is_sexual도 그 판단과 일치하는 항목들만 후보로 삼는다. 3) 그 좁혀진 후보 중 situation이 지금 장면과 가장 비슷한 것을 골라 image_id 숫자를 그대로 쓴다. 후보가 여러 개면 완벽히 안 맞아도 가장 가까운 것 하나를 반드시 고른다(좁혀진 목록 안에서는 어지간하면 하나는 있다). character_id+is_sexual 조건을 만족하는 항목이 목록에 하나도 없을 때만 null.\"\n}"
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 상태 추출 LLM
        type: llm
        vision:
          enabled: false
      height: 132
      id: c_llm_extract
      position:
        x: 2500
        y: 1900
      positionAbsolute:
        x: 2500
        y: 1900
      selected: false
      type: custom
      width: 242
    viewport:
      x: -878.3846055169793
      y: -309.0675103062374
      zoom: 0.5743491774985173
  rag_pipeline_variables: []
