v1/dify/yml/게임빌더_v53.yml
app:
  description: AI 인터랙티브 게임 - v50 (상식개변 시스템 + 이중인격 마인드모니터)
  icon: 🎮
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 게임빌더_v51
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.19@5b68617c637b62d31e7f33a9f5677b76e88f81868fb04a728e208588564b72ea
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 현재 활성 게임 ID
    id: ad625fdc-ce46-4647-89f0-12dfeff9396c
    name: active_game_id
    selector:
    - conversation
    - active_game_id
    value: ''
    value_type: string
  - description: 플레이 턴 카운터
    id: 1ba768b7-4e6f-4f34-9061-068e8d3bd6bd
    name: turn_count
    selector:
    - conversation
    - turn_count
    value: 0
    value_type: integer
  - description: 삭제 확인 대기중인 game_id
    id: 1fcd0605-4a51-4ecf-8918-6d8446e1d454
    name: pending_delete_id
    selector:
    - conversation
    - pending_delete_id
    value: ''
    value_type: string
  - description: 현재 모드(build/play). 슬래시 없으면 이 모드가 계속 유지됨
    id: 4e214006-f34a-4e15-80cd-650d51b8e006
    name: current_mode
    selector:
    - conversation
    - current_mode
    value: build
    value_type: string
  - description: 자동 음성 출력 활성화 여부 (기본 ON)
    id: 8a1c9c4e-7f2d-4b3a-9e5c-2d6f8a3b1c40
    name: auto_tts
    selector:
    - conversation
    - auto_tts
    value: true
    value_type: boolean
  environment_variables:
  - description: ''
    id: 28c27356-cf6b-4ef5-902c-206b09fe5337
    name: SUPABASE_SERVICE_KEY
    selector:
    - env
    - SUPABASE_SERVICE_KEY
    value: sb_secret_NkwcIvqMYFA1ybDh_cUH0w_9TdimbO0
    value_type: secret
  - description: ''
    id: df4d3b6d-d796-4f09-adc2-aa8c7a68012a
    name: SUPABASE_URL
    selector:
    - env
    - SUPABASE_URL
    value: https://ckzwlmoojtmcpwlqsqzv.supabase.co
    value_type: string
  - description: ''
    id: 97ed6360-1e65-4de3-a7b0-004171dfaf9e
    name: FISH_API_KEY
    selector:
    - env
    - FISH_API_KEY
    value: c9d1c2d7cf1e4e78891ac5f07bf80e18
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: e_if_build_false_if_play
      selected: false
      source: if_build
      sourceHandle: 'false'
      target: if_play
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: e_b_http_setmaster_source_b_answer_edit
      selected: false
      source: b_http_setmaster
      sourceHandle: source
      target: b_answer_edit
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: e_b_http_creategame_source_b_va_activeid
      selected: false
      source: b_http_creategame
      sourceHandle: source
      target: b_va_activeid
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: e_b_va_activeid_source_b_answer_newgame
      selected: false
      source: b_va_activeid
      sourceHandle: source
      target: b_answer_newgame
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: e_c_code_parser_source_c_code_validate
      selected: false
      source: c_code_parser
      sourceHandle: source
      target: c_code_validate
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: e_c_http_saveturn_source_c_http_setsave
      selected: false
      source: c_http_saveturn
      sourceHandle: source
      target: c_http_setsave
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: template-transform
      id: e_c_http_image_source_c_tpl_render
      selected: false
      source: c_http_image
      sourceHandle: source
      target: c_tpl_render
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: e_c_tpl_render_source_c_answer
      selected: false
      source: c_tpl_render
      sourceHandle: source
      target: c_answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: e_if_play_false_d_if_empty
      selected: false
      source: if_play
      sourceHandle: 'false'
      target: if_tts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_d_if_empty_true_d_http_find
      selected: false
      source: d_if_empty
      sourceHandle: 'true'
      target: d_http_find
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e_d_http_find_source_d_code_count
      selected: false
      source: d_http_find
      sourceHandle: source
      target: d_code_count
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_d_code_count_source_d_if_count1
      selected: false
      source: d_code_count
      sourceHandle: source
      target: d_if_count1
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: e_d_if_count1_true_d_va_setpending
      selected: false
      source: d_if_count1
      sourceHandle: 'true'
      target: d_va_setpending
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: e_d_va_setpending_source_d_answer_confirm
      selected: false
      source: d_va_setpending
      sourceHandle: source
      target: d_answer_confirm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: e_d_if_count1_false_d_answer_notfound
      selected: false
      source: d_if_count1
      sourceHandle: 'false'
      target: d_answer_notfound
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e_d_if_empty_false_d_code_isyes
      selected: false
      source: d_if_empty
      sourceHandle: 'false'
      target: d_code_isyes
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_d_code_isyes_source_d_if_yes
      selected: false
      source: d_code_isyes
      sourceHandle: source
      target: d_if_yes
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_d_if_yes_true_d_http_delete
      selected: false
      source: d_if_yes
      sourceHandle: 'true'
      target: d_http_delete
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: e_d_http_delete_source_d_va_clear1
      selected: false
      source: d_http_delete
      sourceHandle: source
      target: d_va_clear1
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: e_d_va_clear1_source_d_answer_done
      selected: false
      source: d_va_clear1
      sourceHandle: source
      target: d_answer_done
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: e_d_if_yes_false_d_va_clear2
      selected: false
      source: d_if_yes
      sourceHandle: 'false'
      target: d_va_clear2
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: e_d_va_clear2_source_d_answer_cancel
      selected: false
      source: d_va_clear2
      sourceHandle: source
      target: d_answer_cancel
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: b_if_reset-true-b_http_reset-target
      selected: false
      source: b_if_reset
      sourceHandle: 'true'
      target: b_http_reset
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: b_http_reset-source-b_answer_reset
      selected: false
      source: b_http_reset
      sourceHandle: source
      target: b_answer_reset
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: e_b_code_parser_source_1784081744587
      selected: false
      source: b_code_parser
      sourceHandle: source
      target: '1784081744587'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1784081744587-source-1784082585724-target
      selected: false
      source: '1784081744587'
      sourceHandle: source
      target: '1784082585724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1784082585724-true-b_http_setmaster-target
      selected: false
      source: '1784082585724'
      sourceHandle: 'true'
      target: b_http_setmaster
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1784083058256-true-b_http_creategame-target
      selected: false
      source: '1784083058256'
      sourceHandle: 'true'
      target: b_http_creategame
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1784082585724-false-1784083058256-target
      selected: false
      source: '1784082585724'
      sourceHandle: 'false'
      target: '1784083058256'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: start-source-cmd_parse-target
      source: start
      sourceHandle: source
      target: g_http_active
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: e_cmd_parse_va_turn
      source: ctx_load
      sourceHandle: source
      target: cmd_parse
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e_c_llm_extract_c_code_parser
      source: c_llm_extract
      sourceHandle: source
      target: c_code_parser
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e_b_llm_source_b_answer_stream
      selected: false
      source: b_llm
      sourceHandle: source
      target: b_answer_stream
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: e_b_llm_extract_source_b_code_parser
      selected: false
      source: b_llm_extract
      sourceHandle: source
      target: b_code_parser
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: e_va_turn_g_http_active
      source: cmd_parse
      sourceHandle: source
      target: va_turn
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e_g_http_active_g_code_active
      source: g_http_active
      sourceHandle: source
      target: g_code_active
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_g_code_active_g_if_active
      source: g_code_active
      sourceHandle: source
      target: g_if_active
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: e_g_if_active_true_g_va_active
      source: g_if_active
      sourceHandle: 'true'
      target: g_va_active
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: e_g_va_active_ctx_load
      source: g_va_active
      sourceHandle: source
      target: ctx_load
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_g_if_active_false_ctx_load
      source: g_if_active
      sourceHandle: 'false'
      target: ctx_load
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: e_c_llm_source_c_answer_stream
      source: c_llm
      sourceHandle: source
      target: c_answer_stream
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: e_c_code_parser_source_c_http_image
      source: c_code_parser
      sourceHandle: source
      target: c_http_image
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e_if_play_true_c_code_strip_catalog
      source: if_play
      sourceHandle: 'true'
      target: c_code_strip_catalog
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e_c_code_strip_catalog_source_c_llm
      source: c_code_strip_catalog
      sourceHandle: source
      target: c_llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_validate_source_c_if_agesafe
      source: c_code_validate
      sourceHandle: source
      target: c_if_agesafe
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: e_c_if_agesafe_true_blocked
      source: c_if_agesafe
      sourceHandle: 'true'
      target: c_answer_agesafe_blocked
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_c_if_agesafe_false_saveturn
      source: c_if_agesafe
      sourceHandle: 'false'
      target: c_http_saveturn
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: code
      id: e_c_answer_stream_source_c_code_clean
      source: c_answer_stream
      sourceHandle: source
      target: c_code_clean_narrative
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e_c_code_clean_source_c_llm_extract
      source: c_code_clean_narrative
      sourceHandle: source
      target: c_llm_extract
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: e_va_turn_if_tts_toggle
      selected: false
      source: va_turn
      sourceHandle: source
      target: if_tts_toggle
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: e_if_tts_toggle_false_if_build
      selected: false
      source: if_tts_toggle
      sourceHandle: 'false'
      target: if_build
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: e_if_tts_toggle_true_tpl_msg
      selected: false
      source: if_tts_toggle
      sourceHandle: 'true'
      target: tpl_tts_toggle_msg
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: e_tpl_msg_answer_tts_toggle
      selected: false
      source: tpl_tts_toggle_msg
      sourceHandle: source
      target: answer_tts_toggle
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: e_c_code_parser_c_code_check_autotts
      selected: false
      source: c_code_parser
      sourceHandle: source
      target: c_code_check_autotts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_parser_if_has_player_patch
      selected: false
      source: c_code_parser
      sourceHandle: source
      target: if_has_player_patch
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_if_has_player_patch_true_c_http_setmaster_play
      selected: false
      source: if_has_player_patch
      sourceHandle: 'true'
      target: c_http_setmaster_play
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_check_autotts_if_auto_tts
      selected: false
      source: c_code_check_autotts
      sourceHandle: source
      target: if_auto_tts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e_if_auto_tts_true_c_code_voice_lookup_auto
      selected: false
      source: if_auto_tts
      sourceHandle: 'true'
      target: c_code_voice_lookup_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: e_c_code_voice_lookup_auto_if_has_tts
      selected: false
      source: c_code_voice_lookup_auto
      sourceHandle: source
      target: if_has_tts
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: e_if_has_tts_true_h_http_tts_worker_auto
      selected: false
      source: if_has_tts
      sourceHandle: 'true'
      target: h_http_tts_worker_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: e_h_http_tts_worker_auto_c_code_audio_url_parse_auto
      selected: false
      source: h_http_tts_worker_auto
      sourceHandle: source
      target: c_code_audio_url_parse_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: e_c_code_audio_url_parse_auto_c_tpl_audio_final_auto
      selected: false
      source: c_code_audio_url_parse_auto
      sourceHandle: source
      target: c_tpl_audio_final_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: e_c_tpl_audio_final_auto_c_answer_audio_auto
      selected: false
      source: c_tpl_audio_final_auto
      sourceHandle: source
      target: c_answer_audio_auto
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1784083058256-false-b_if_reset-target
      selected: false
      source: '1784083058256'
      sourceHandle: 'false'
      target: b_if_reset
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: b_if_reset-false-b_http_setmaster-target
      selected: false
      source: b_if_reset
      sourceHandle: 'false'
      target: b_http_setmaster
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: e_if_build_true_b_code_strip_master
      selected: false
      source: if_build
      sourceHandle: 'true'
      target: b_code_strip_master
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: e_b_code_strip_master_source_b_llm
      selected: false
      source: b_code_strip_master
      sourceHandle: source
      target: b_llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: e_b_answer_stream_source_b_llm_extract
      selected: false
      source: b_answer_stream
      sourceHandle: source
      target: b_llm_extract
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: e_if_tts_false_d_if_empty
      source: if_tts
      sourceHandle: 'false'
      target: d_if_empty
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
      id: e_if_tts_true_voice_lookup
      source: if_tts
      sourceHandle: 'true'
      target: c_code_voice_lookup
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e_voicelookup_to_worker
      source: c_code_voice_lookup
      sourceHandle: source
      target: h_http_tts_worker
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: e_worker_to_parse
      source: h_http_tts_worker
      sourceHandle: source
      target: c_code_audio_url_parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: template-transform
      id: e_parse_to_tpl
      source: c_code_audio_url_parse
      sourceHandle: source
      target: c_tpl_audio_final
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: answer
      id: e_tpl_to_answer_v33
      source: c_tpl_audio_final
      sourceHandle: source
      target: c_answer_audio
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e_parse_to_debuglog
      source: c_code_audio_url_parse
      sourceHandle: source
      target: h_http_tts_debuglog
      targetHandle: target
      type: custom
    nodes:
    - id: if_tts_toggle
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_tts_toggle_c
            value: tts_toggle
            varType: string
            variable_selector:
            - cmd_parse
            - route
          id: 'true'
          logical_operator: and
        desc: /음성자동 켜기|끄기 명령을 여기서 조기 종료. play LLM/턴 소모 없이 안내만 하고 끝냄
        selected: false
        title: IF 음성토글 명령
        type: if-else
      height: 124
      position:
        x: 2350
        y: 700
      positionAbsolute:
        x: 2350
        y: 700
      selected: false
      type: custom
      width: 242
    - id: tpl_tts_toggle_msg
      data:
        desc: ''
        selected: false
        template: '{% if auto_tts %}🔊 자동 음성을 켰습니다. 이제 대사가 있는 턴에서 자동으로 음성이 재생됩니다.{% else %}🔇 자동 음성을 껐습니다.{% endif %}'
        title: 음성토글 안내 조립
        type: template-transform
        variables:
        - value_selector:
          - cmd_parse
          - auto_tts
          variable: auto_tts
      height: 96
      position:
        x: 2680
        y: 700
      positionAbsolute:
        x: 2680
        y: 700
      selected: false
      type: custom
      width: 242
    - id: answer_tts_toggle
      data:
        answer: '{{#tpl_tts_toggle_msg.output#}}'
        desc: ''
        selected: false
        title: 음성토글 안내
        type: answer
      height: 102
      position:
        x: 3010
        y: 700
      positionAbsolute:
        x: 3010
        y: 700
      selected: false
      type: custom
      width: 242
    - id: c_code_check_autotts
      data:
        code: "function main({auto_tts}) {\n  return { auto_tts: auto_tts !== false };\n}"
        code_language: javascript
        desc: auto_tts 설정 확인 - undefined/미설정이면 기본 ON
        outputs:
          auto_tts:
            type: boolean
        selected: false
        title: 자동음성 확인
        type: code
        variables:
        - value_selector:
          - conversation
          - auto_tts
          variable: auto_tts
      height: 96
      position:
        x: 4172
        y: 1500
      positionAbsolute:
        x: 4172
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: if_auto_tts
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_auto_tts_c
            value: 'true'
            varType: boolean
            variable_selector:
            - c_code_check_autotts
            - auto_tts
          id: 'true'
          logical_operator: and
        desc: auto_tts ON일 때만 음성 생성 경로로 분기
        selected: false
        title: IF 자동음성 ON
        type: if-else
      height: 96
      position:
        x: 4480
        y: 1500
      positionAbsolute:
        x: 4480
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_code_voice_lookup_auto
      data:
        code: "function main({ctx, llm_text, cid}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch(e){}\n  const master = obj.master || {};\n  const chars = master.characters || {};\n  const name = (chars[cid] && chars[cid].name) ? chars[cid].name : '';\n\n  const scene = String(llm_text || '').split('\\n---')[0];\n  const speakerRe = /\\*{0,2}([가-힣A-Za-z0-9]{2,12})\\*{0,2}\\s*(?:\\(([^)\\n]{0,60})\\))?\\s*:\\s*\"([^\"]+)\"/g;\n  let lines = [], m;\n  while ((m = speakerRe.exec(scene)) !== null) {\n    if (name && m[1].trim() !== name) continue;\n    lines.push((m[2] ? '['+m[2]+'] ' : '') + m[3]);\n  }\n  if (!lines.length) return { skip_tts: true, tts_text: '', voice_id: '' };\n\n  let text = lines.join(' ... ').replace(/[\"\\\\]+/g,' ').replace(/[\\r\\n]+/g,' ').replace(/\\s{2,}/g,' ').trim();\n  let voice = (chars[cid] && chars[cid].voice_id) ? chars[cid].voice_id : '';\n  if (!voice) { const first = Object.keys(chars)[0]; if (first) voice = chars[first].voice_id; }\n  return { skip_tts: false, tts_text: text, voice_id: voice };\n}"
        code_language: javascript
        desc: 이번 턴에 검증된 화자(c_code_parser.character_id)와 정제된 서사(narrative_text)만 사용. 지난 턴 값(ctx.save.last_character_id)을 쓰지 않아 화자 바뀐 턴에서도 정확함
        outputs:
          skip_tts:
            type: boolean
          tts_text:
            type: string
          voice_id:
            type: string
        selected: false
        title: 자동 보이스 조회
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
        - value_selector:
          - c_code_parser
          - narrative_text
          variable: llm_text
        - value_selector:
          - c_code_parser
          - character_id
          variable: cid
      height: 128
      position:
        x: 4790
        y: 1500
      positionAbsolute:
        x: 4790
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: if_has_tts
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_has_tts_c
            value: 'false'
            varType: boolean
            variable_selector:
            - c_code_voice_lookup_auto
            - skip_tts
          id: 'true'
          logical_operator: and
        desc: 대사가 있을 때만 음성 생성 (skip_tts=false)
        selected: false
        title: IF 대사 있음
        type: if-else
      height: 96
      position:
        x: 5100
        y: 1500
      positionAbsolute:
        x: 5100
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: h_http_tts_worker_auto
      data:
        authorization:
          type: no-auth
        body:
          data:
          - id: worker_body_auto
            key: ''
            type: text
            value: '{"text": "{{#c_code_voice_lookup_auto.tts_text#}}", "voice_id": "{{#c_code_voice_lookup_auto.voice_id#}}"}'
          type: json
        desc: auto_tts 경로용 Fish Audio TTS 호출. 실패해도 이 가지만 끊길 뿐 c_code_parser 이후의 저장/이미지 흐름과는 무관
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: TTS Worker 호출 (자동)
        type: http-request
        url: https://fancy-dust-7f8c.zeroslove.workers.dev/
      height: 138
      position:
        x: 5410
        y: 1500
      positionAbsolute:
        x: 5410
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_code_audio_url_parse_auto
      data:
        code: "function main({body}) {\n  let url = '';\n  try { url = (JSON.parse(body || '{}').url) || ''; } catch (e) {}\n  return { url: url, raw: body };\n}"
        code_language: javascript
        desc: Worker 응답 JSON에서 url 필드 추출
        outputs:
          raw:
            type: string
          url:
            type: string
        selected: false
        title: URL 파싱 (자동)
        type: code
        variables:
        - value_selector:
          - h_http_tts_worker_auto
          - body
          variable: body
      height: 80
      position:
        x: 5720
        y: 1500
      positionAbsolute:
        x: 5720
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_tpl_audio_final_auto
      data:
        desc: Worker 응답 JSON에서 url 필드를 파싱해 audio 태그로 감쌈
        selected: false
        template: '{% if url %}<audio controls src="{{ url }}"></audio>{% else %}(음성 생성 실패){% endif %}'
        title: 오디오 태그 조립 (자동)
        type: template-transform
        variables:
        - value_selector:
          - c_code_audio_url_parse_auto
          - url
          variable: url
      height: 96
      position:
        x: 6030
        y: 1500
      positionAbsolute:
        x: 6030
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: c_answer_audio_auto
      data:
        answer: '{{#c_tpl_audio_final_auto.output#}}'
        desc: auto_tts 경로용 음성 인라인 재생
        selected: false
        title: 음성 재생 (자동)
        type: answer
      height: 102
      position:
        x: 6340
        y: 1500
      positionAbsolute:
        x: 6340
        y: 1500
      selected: false
      type: custom
      width: 242
    - id: if_has_player_patch
      data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: if_has_player_patch_c
            value: '{}'
            varType: string
            variable_selector:
            - c_code_parser
            - player_patch_json
          id: 'true'
          logical_operator: and
        desc: 이번 턴에 플레이어가 캐릭터 생성 질문에 답한 경우에만 set_master 호출
        selected: false
        title: IF 플레이어정보 답변있음
        type: if-else
      height: 96
      position:
        x: 4172
        y: 1750
      positionAbsolute:
        x: 4172
        y: 1750
      selected: false
      type: custom
      width: 242
    - id: c_http_setmaster_play
      data:
        authorization:
          type: no-auth
        body:
          data:
          - id: setmaster_play_body
            key: ''
            type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_patch": {{#c_code_parser.player_patch_json#}}, "p_note": "플레이 중 플레이어 정보 입력"}'
          type: json
        desc: 플레이 모드에서 캐릭터 생성 질문에 답한 플레이어 정보를 master.player에 반영. c_http_saveturn/이미지 조회와는 별개 병렬 가지라 서로 안 기다림
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: set_master 호출 (플레이中 플레이어정보)
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/set_master'
      height: 138
      position:
        x: 4480
        y: 1750
      positionAbsolute:
        x: 4480
        y: 1750
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        title: 시작
        type: start
        variables: []
      height: 73
      id: start
      position:
        x: 0
        y: 659.5333333333334
      positionAbsolute:
        x: 0
        y: 659.5333333333334
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({query, current_mode, ctx_body, pending_delete_id, auto_tts_in}) {\n  let turn_count = 0;\n  let auto_tts = (typeof auto_tts_in === 'boolean') ? auto_tts_in : true;\n  try {\n    const ctx = JSON.parse(ctx_body || '{}');\n    turn_count = ctx.turn_count || 0;\n    if (ctx.save && ctx.save.data && typeof ctx.save.data.auto_tts === 'boolean') {\n      auto_tts = ctx.save.data.auto_tts;\n    }\n  } catch (e) {}\n\n  const q = (query || '').normalize('NFC').trim();\n  const prev = current_mode || 'build';\n\n  // 삭제 확인 대기중이면 최우선\n  if (pending_delete_id && pending_delete_id.length > 0) {\n    return { route: 'delete_request', next_mode: prev, rest_text: q,\n             turn_count: turn_count || 0, auto_tts: auto_tts };\n  }\n\n  // 슬래시가 있을 때만 모드 전환. 없으면 직전 모드 그대로 -> 자연어가 그냥 통과됨\n  let route = prev;\n  let new_auto_tts = auto_tts;\n\n  // '/음성자동'은 '/음성'보다 먼저 체크 (더 구체적인 커맨드) -- 순수 설정 토글이라 별도 route로 분리,\n  // play route로 새지 않게 해서 게임 턴/LLM 호출을 절대 쓰지 않게 함\n  if (q.startsWith('/빌드') || q.startsWith('/build')) route = 'build';\n  else if (q.startsWith('/플레이') || q.startsWith('/play')) route = 'play';\n  else if (q.startsWith('/삭제')) route = 'delete_request';\n  else if (q.startsWith('/음성자동')) {\n    route = 'tts_toggle';\n    new_auto_tts = !(q.includes('끄기') || q.toLowerCase().includes('off'));\n  }\n  else if (q.startsWith('/음성')) route = 'tts_request';\n\n  // build/play만 지속 모드. 삭제/토글은 1회성이라 직전 모드를 그대로 들고 감\n  const next_mode = (route === 'build' || route === 'play') ? route : prev;\n\n  const rest = q.replace(/^\\/[가-힣a-zA-Z]+\\s*/, '');\n\n  let t = turn_count || 0;\n  // 실제 행동 텍스트가 있을 때만 턴 소모 -- \"/플레이\" 단독 재진입, 토글 명령 모두 턴 안 씀\n  if (route === 'play' && rest.trim().length > 0) t = t + 1;\n\n  return {\n    route: route,\n    next_mode: next_mode,\n    rest_text: rest,\n    turn_count: t,\n    auto_tts: new_auto_tts\n  };\n}"
        code_language: javascript
        desc: 슬래시 있으면 모드전환, 없으면 직전 모드 유지 -> 자연어 대화 가능
        outputs:
          auto_tts:
            type: boolean
          next_mode:
            type: string
          rest_text:
            type: string
          route:
            type: string
          turn_count:
            type: number
        selected: false
        title: 라우터(모드유지)
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: query
        - value_selector:
          - conversation
          - current_mode
          variable: current_mode
        - value_selector:
          - ctx_load
          - body
          variable: ctx_body
        - value_selector:
          - conversation
          - pending_delete_id
          variable: pending_delete_id
        - value_selector:
          - conversation
          - auto_tts
          variable: auto_tts_in
      height: 96
      id: cmd_parse
      position:
        x: 640.5714285714286
        y: 680.5333333333334
      positionAbsolute:
        x: 640.5714285714286
        y: 680.5333333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_recent_count": 15}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: Context Load
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/get_context'
      height: 141
      id: ctx_load
      position:
        x: 1346
        y: 784.2166666666667
      positionAbsolute:
        x: 1346
        y: 784.2166666666667
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - turn_count
          variable_selector:
          - conversation
          - turn_count
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - next_mode
          variable_selector:
          - conversation
          - current_mode
        - input_type: variable
          operation: over-write
          value:
          - cmd_parse
          - auto_tts
          variable_selector:
          - conversation
          - auto_tts
        selected: false
        title: 상태 저장
        type: assigner
        version: '2'
      height: 110
      id: va_turn
      position:
        x: 2030
        y: 831.8833333333334
      positionAbsolute:
        x: 2030
        y: 831.8833333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data: []
          type: none
        desc: 새 대화(conversation)마다 active_game_id가 초기화되는 문제를 막기 위해, 매 턴 Supabase의 is_active=true 게임으로 재동기화한다
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}'
        method: get
        params: 'select:id

          is_active:eq.true

          limit:1'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: 활성게임 조회
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/games'
      height: 217
      id: g_http_active
      position:
        x: 480
        y: 700
      positionAbsolute:
        x: 480
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({body}) {\n  let id = '';\n  try {\n    const arr = JSON.parse(body);\n    if (Array.isArray(arr) && arr.length > 0 && arr[0] && arr[0].id) {\n      id = arr[0].id;\n    }\n  } catch (e) {}\n  return { game_id: id, has_id: id ? 'true' : 'false' };\n}"
        code_language: javascript
        desc: ''
        outputs:
          game_id:
            type: string
          has_id:
            type: string
        selected: false
        title: 활성게임ID 파싱
        type: code
        variables:
        - value_selector:
          - g_http_active
          - body
          variable: body
      height: 52
      id: g_code_active
      position:
        x: 822
        y: 700
      positionAbsolute:
        x: 822
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: g_if_active_c
            value: 'true'
            varType: string
            variable_selector:
            - g_code_active
            - has_id
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF 활성게임 있음
        type: if-else
      height: 124
      id: g_if_active
      position:
        x: 1164
        y: 700
      positionAbsolute:
        x: 1164
        y: 700
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - g_code_active
          - game_id
          variable_selector:
          - conversation
          - active_game_id
        selected: false
        title: active_game_id 동기화
        type: assigner
        version: '2'
      height: 84
      id: g_va_active
      position:
        x: 1506
        y: 620
      positionAbsolute:
        x: 1506
        y: 620
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_build_c
            value: build
            variable_selector:
            - cmd_parse
            - route
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF ROUTE==BUILD
        type: if-else
      height: 124
      id: if_build
      position:
        x: 2734
        y: 965.8166666666667
      positionAbsolute:
        x: 2734
        y: 965.8166666666667
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_play_c
            value: play
            variable_selector:
            - cmd_parse
            - route
          logical_operator: and
        desc: ''
        selected: false
        title: IF ROUTE==PLAY
        type: if-else
      height: 124
      id: if_play
      position:
        x: 3096
        y: 1649
      positionAbsolute:
        x: 3096
        y: 1649
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({ctx}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch (e) {}\n  const rawCatalog = Array.isArray(obj.image_catalog) ? obj.image_catalog : [];\n  const save = obj.save || {};\n  const master = obj.master || {};\n  const pick = (src, keys) => {\n    const out = {};\n    for (const k of keys) {\n      if (src && Object.prototype.hasOwnProperty.call(src, k)) out[k] = src[k];\n    }\n    return out;\n  };\n  const isEmpty = (v) => v === null || v === undefined || v === '' || (Array.isArray(v) && v.length === 0) || (typeof v === 'object' && !Array.isArray(v) && Object.keys(v).length === 0);\n  const cleanSave = (src) => {\n    const out = {};\n    for (const k of Object.keys(src || {})) {\n      if (k.startsWith('debug_')) continue;\n      if (k === 'rules_full' || k === 'master' || k === 'image_catalog') continue;\n      const v = src[k];\n      if (isEmpty(v)) continue;\n      out[k] = v;\n    }\n    return out;\n  };\n  // 서사LLM용: 이미지는 서사LLM이 고르지 않으므로 카탈로그 자체를 완전히 비운다(이미지 언급 유발 방지).\n  // recent_memories는 get_context RPC가 이미 서버단에서 오래된 턴의 마인드모니터/상황판을 걸러주므로 그대로 사용한다.\n  const forNarrative = Object.assign({}, obj);\n  forNarrative.image_catalog = {};\n  forNarrative.save = cleanSave(save);\n\n  // 상태추출LLM용: 기존 v25 slim 유지\n  const forExtract = {\n    game_id: obj.game_id,\n    has_game: obj.has_game,\n    title: obj.title,\n    turn_count: obj.turn_count,\n    characters: master.characters,\n    stat_definitions: master.stat_definitions,\n    save: pick(save, ['npc_stats','npc_emotion','story_summary_overall','story_summary_recent100','recent100_start_turn','turn_count']),\n    story_summary_overall: obj.story_summary_overall || save.story_summary_overall || '',\n    story_summary_recent100: obj.story_summary_recent100 || save.story_summary_recent100 || '',\n    image_catalog: rawCatalog.map(it => ({\n      image_id: it.image_id,\n      character_id: it.character_id,\n      emotion_id: it.emotion_id,\n      situation: it.situation,\n      is_sexual: !!it.is_sexual\n    }))\n  };\n\n  return { stripped: JSON.stringify(forNarrative), stripped_extract: JSON.stringify(forExtract) };\n}"
        code_language: javascript
        desc: 서사LLM용 컨텍스트에서 image_catalog 제거 (LLM이 URL 보고 마크다운 이미지를 직접 생성하는 걸 막기 위함). 상태추출LLM은 이 노드를 안 거치고 ctx_load.body를 그대로 씀(emotion_id 매칭에 카탈로그 필요)
        outputs:
          stripped:
            type: string
          stripped_extract:
            type: string
        selected: false
        title: 컨텍스트 정제(서사/추출용 분리)
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
      height: 160
      id: c_code_strip_catalog
      position:
        x: 2900
        y: 620
      positionAbsolute:
        x: 2900
        y: 620
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - b_code_strip_master
          - slim
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 20
        model:
          completion_params:
            max_tokens: 6000
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b5712032-293d-40ae-844e-ff640552d267
          role: system
          text: '너는 사용자와 함께 인터랙티브 게임의 세계관과 캐릭터를 만들어가는 친근하고 창의적인 ''게임 디렉터''다.

            지금은 ''빌드 모드''다. 사용자가 /플레이 라고 하기 전까지 계속 이 모드로 대화가 이어진다.

            위 대화 내역이 지금까지 사용자와 나눈 설계 논의다. 반드시 그 흐름을 이어서 답하고, 이미 정해진 내용을 다시 묻지 마라.


            [현재 게임 데이터]

            {{#context#}}


            위 데이터의 has_game이 false면 아직 만들어진 게임이 없는 상태다. 사용자와 어떤 게임을 만들지 이야기하고, 제목과 방향이 잡히면 정해진 제목을 명확히 서술에 언급해라.


            딱딱하게 굴지 말고, 사용자의 아이디어에 호응하며 더 재미있는 설정, 스탯, 캐릭터 배경 등을 먼저 적극적으로 제안하며 브레인스토밍해라.


            [데이터 구조 규칙 - 필수 준수]

            캐릭터 정보는 반드시 characters.heroine1 ~ characters.heroine10 밑에만 작성한다.

            ''강세라_컵''처럼 캐릭터 이름을 직접 필드명(Key)에 넣는 방식은 절대 쓰지 않는다.

            캐릭터의 이름은 characters.heroineN.name 값(Value)으로만 저장한다.


            [매우 중요] 컨텍스트의 has_game이 true면 이미 작업 중인 게임이 있는 상태다. 절대 ''새 게임을 시작합니다'' 같은 말을 하지 말고, master 데이터를 읽어서 지금 게임이 어디까지 만들어졌는지 짧게 짚어주며 자연스럽게 인사하고 이어서 대화하라. 새 게임은 사용자가 명시적으로 요청할 때만 만든다.


            [정보 취급 원칙] 플레이어나 NPC의 직업·신분·관계처럼 서사에 중요한 사실은 master 데이터에 명시된 것만 사용해라. 위치나 정황만으로 신분/직업 같은 확정적 사실을 추측해서 만들어내지 마라. 빠진 정보가 필요하면 자연스럽게 사용자에게 물어봐라.


            [이미지 표시] 게임 데이터의 image_catalog에 있는 이미지를 사용자에게 보여달라는 요청을 받으면, 해당 항목의 image_url을 마크다운 이미지 문법으로 그대로 출력해라: ![설명](image_url). 이렇게 쓰면 화면에 이미지가 바로 보인다. URL을 텍스트로 설명하거나 따로 안내하지 말고 문법 그대로 출력만 해라.


            ⚠️ 네가 단순히 아이디어를 제안하는 것뿐이라면(사용자가 아직 확정하지 않았다면) "완료했습니다/저장했습니다/적용됐습니다" 표현을 쓰지 않는다. 반드시 "~적용할까요?" 질문형으로 사용자의 확정을 받아라.

            ⚠️ 사용자가 이미 확정/승인했다면("네", "적용해줘", "저장해줘" 등) 망설이지 말고 "반영했습니다/적용했습니다"라고 자신 있게 답한다. 실제 저장은 네 바로 다음 단계에서 자동으로 처리되니 안심하고 확정형으로 말해라.

            ⚠️ 절대 하지 말 것: "저는 DB에 저장하는 기능이 없습니다", "실제 저장은 다른 시스템/사용자가 /플레이에 들어갈 때 처리됩니다" 같은 말. 이건 사실이 아니고 사용자를 혼란스럽게 한다. 너의 내부 파이프라인 구조(다음 단계, 다른 LLM, 시스템 처리 등)를 사용자에게 절대 설명하지 마라.


            [모드 진입 안내]

            사용자의 이번 메시지가 "/빌드"만 딱 입력되고 다른 지시가 전혀 없는 경우(진입 신호), 다른 내용 없이 이걸로 시작해라:

            게임 제목, game_id, 현재까지 진행된 턴수를 한 줄로 요약하고(게임이 없으면 "아직 만든 게임이 없습니다"), "오늘은 무엇을 도와드릴까요?"로 마무리한다.

            그 외의 평범한 빌드 요청(구체적 지시가 있는 경우)에는 이 인트로 없이 바로 본론으로 들어가라.


            [서술 전용 모드]

            너는 이제 저장 데이터(JSON)를 만들지 않는다. 오직 사용자에게 보여줄 자연스러운 설명/서술만 작성한다.

            이 응답에는 어떤 형태로도 JSON, 코드블록(```), build_action 같은 시스템 필드명을 절대 포함하지 마라.

            방금 나눈 대화에서 실제로 무엇을 반영/저장할지는 네가 쓴 이 서술을 뒤이어 다른 모델이 읽고 그대로 옮겨 적는다.

            그러니 저장하고 싶은 내용이 있으면, 그것을 이 서술 안에 명확하고 구체적으로(모호하게 뭉뚱그리지 말고, 실제 넣을 값 그대로) 풀어 써라.

            예를 들어 새 규칙 텍스트를 추가한다면 "규칙을 추가했습니다"라고만 하지 말고, 추가되는 규칙의 실제 문장을 이 서술 안에 그대로 적어라.

            '
        - id: 1b7a7f37-45fb-4c83-9f0e-2f4dfd95d0a8
          role: user
          text: ''
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 빌드 서술 LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: b_llm
      position:
        x: 3096
        y: 464.23333333333335
      positionAbsolute:
        x: 3096
        y: 464.23333333333335
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#b_llm.text#}}'
        desc: ''
        selected: false
        title: 빌드 서술 스트리밍
        type: answer
      height: 102
      id: b_answer_stream
      position:
        x: 3438
        y: 464.23333333333335
      positionAbsolute:
        x: 3438
        y: 464.23333333333335
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - b_code_strip_master
          - slim
        desc: ''
        model:
          completion_params:
            max_tokens: 10000
            thinking: false
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b_extract_sys
          role: system
          text: "너는 방금 '빌드 서술 LLM'이 사용자에게 보여준 설명을 읽고, 그 안에 실제로 담긴 내용을 저장용 데이터로 그대로 옮겨 적는 역할이다.\n새로운 창작이나 판단을 하지 마라 — 서술에 이미 쓰여 있는 내용만 옮긴다. 서술에 없는 내용을 지어내지 마라.\nJSON 코드블록 하나만 출력하고 다른 말은 절대 하지 마라.\n너의 출력은 사용자에게 보이지 않는다. 사용자에게 인사하거나, 질문하거나(\"더 손볼 부분 있나요?\" 등), 다음 행동을 제안하지 마라. 설명·요약·재확인 문장도 쓰지 마라. JSON 앞뒤에 어떤 텍스트도 붙이지 말고, ```json 코드블록 하나만 출력하고 즉시 끝내라.\n\n[방금 빌드 서술 LLM이 사용자에게 보여준 설명]\n{{#b_llm.text#}}\n\n[현재 게임 데이터]\n{{#context#}}\n\n[build_action 판단 규칙]\n· edit : 기본값. 기존 게임 설정을 다듬거나 그냥 대화한 경우\n· new_game : 새 게임을 만들기로 한 경우 (proposed_title 필수)\n· reset_progress : 게임 진행 기록(대화/턴/NPC 감정)만 초기화하고 룰북·캐릭터는 유지하기로 한 경우. new_game과 다르다 — 새 게임을 만드는 게 아니다.\n\n⚠️ 위 설명에서 \"필드를 초기화/비워달라\"고 했으면 값을 \"\"(빈 문자열)로 patch한다.\n⚠️ 위 설명에서 \"필드를 삭제/제거해달라\"고 했을 때만 null로 patch한다. 이 둘은 결과가 다르다(null=키삭제, \"\"=값만 비움).\n\n[새 필드 — rulebook_action_resolution]\n선택지 결과 판정 시스템 룰북. 다음 JSON 형태로 저장:\n{\n  \"resolution_type\": \"three_tier\",  // three_tier = 성공/의도외/실패 3단계\n  \"success_threshold\": 70,        // 성공 기준 확률(%)\n  \"intent_deviation_threshold\": 30, // 의도외 기준 확률(%). 이 값~성공 임계값 사이=의도외\n  \"base_formula\": \"50 + (순응도/2) + (최면깊이/3) - (선택지난이도×10)\",\n  \"choice_difficulty_scale\": [1, 2, 3],  // ①=1(쉬움), ②=2(보통), ③=3(어려움)\n  \"description\": \"선택지 결과는 성공/의도외/실패 3단계로 결정. 성공=보상정상, 실패=패널티, 의도외=예상치못한방향\"\n}\n\n[기존 필드 — game_difficulty]\n게임 난이도 배율(숫자, 기본 1.0). 사용자가 난이도 변경을 확정하면 datasheet_fields.game_difficulty에 새 숫자값을 그대로 넣어라(문자열 아님). 1.0보다 크면 어려움(수치가 낮아짐), 1.0보다 작으면 쉬움. 보통 0.5~2.0 범위.\n\n[데이터 구조 규칙]\n캐릭터 정보는 반드시 characters.heroine1 ~ characters.heroine10 밑에만 작성한다. 캐릭터 이름을 필드명(Key)에 직접 넣지 않는다.\ndatasheet_fields의 키는 game_master.data의 실제 최상위 키를 그대로 쓴다. 새 키를 임의로 만들지 않는다.\n게임 룰북 관련 키는 다음 6개다: rulebook_verification(체크리스트), rulebook_game_system, rulebook_level_growth, rulebook_display_format, rulebook_narrative, rulebook_dev_only. 그 외 rules_full, display_format, narrative_rules, rules도 존재하는 별개 키다.\n긴 텍스트 필드를 수정할 땐 해당 키의 값 전체를 완성된 새 문자열로 넣는다(부분 수정 불가) — 위 설명에 적힌 실제 문장을 그대로 옮겨서 완성된 값을 만들어라.\n\n[중요]\n위 설명에서 실제로 반영/저장하겠다고 말한 내용이 있으면 반드시 datasheet_fields에 채운다. 단순 조회/설명/대화였다면 datasheet_fields는 {}로 비운다.\nchange_note에는 이번 변경을 한 줄로 요약한다. 새 게임이면 proposed_title에 제목을 넣는다.\n\n```json\n{\n  \"build_action\": \"edit\",\n  \"change_note\": \"\",\n  \"proposed_title\": \"\",\n  \"datasheet_fields\": {}\n}\n```"
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 빌드 저장 LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: b_llm_extract
      position:
        x: 3747.3029574919483
        y: 307.0989413001482
      positionAbsolute:
        x: 3747.3029574919483
        y: 307.0989413001482
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({text}) {\n  let jsonStr = null;\n  let m = text.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\n  if (m) jsonStr = m[1];\n  if (!jsonStr) {\n    m = text.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (m && m[1].trim().startsWith('{')) jsonStr = m[1];\n  }\n  if (!jsonStr) {\n    const first = text.indexOf('{');\n    const last = text.lastIndexOf('}');\n    if (first !== -1 && last > first) jsonStr = text.slice(first, last + 1);\n  }\n\n  let jsonPart = {};\n  let parseOk = false;\n  if (jsonStr) {\n    try { jsonPart = JSON.parse(jsonStr); parseOk = true; } catch(e) { parseOk = false; }\n  }\n\n  let summary = text;\n  if (jsonStr) {\n    const idx = text.indexOf(jsonStr);\n    if (idx >= 0) summary = text.slice(0, idx);\n  }\n  summary = summary.replace(/```json/gi, '').replace(/```/g, '').trim();\n  if (!parseOk) {\n    summary = (summary ? summary + '\\n\\n' : '') + '⚠️ 저장 데이터 파싱에 실패해 이번 요청은 저장되지 않았습니다. 다시 요청해주세요.';\n  }\n\n  const df = jsonPart.datasheet_fields;\n  return {\n    design_summary: summary,\n    build_action: jsonPart.build_action || 'edit',\n    change_note: jsonPart.change_note || '',\n    proposed_title: jsonPart.proposed_title || '',\n    datasheet_fields: (df && typeof df === 'object' && !Array.isArray(df)) ? df : {},\n    parse_ok: parseOk ? 'true' : 'false'\n  };\n}"
        code_language: javascript
        desc: 빌드 텍스트 파싱
        outputs:
          build_action:
            type: string
          change_note:
            type: string
          datasheet_fields:
            type: object
          design_summary:
            type: string
          parse_ok:
            type: string
          proposed_title:
            type: string
        selected: false
        title: 빌드 파서
        type: code
        variables:
        - value_selector:
          - b_llm_extract
          - text
          variable: text
      height: 80
      id: b_code_parser
      position:
        x: 3438
        y: 350
      positionAbsolute:
        x: 3438
        y: 350
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_patch": {{#b_code_parser.datasheet_fields#}}, "p_note": "{{#b_code_parser.change_note#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: set_master 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/set_master'
      height: 141
      id: b_http_setmaster
      position:
        x: 4142
        y: 0
      positionAbsolute:
        x: 4142
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#b_code_parser.design_summary#}}'
        desc: ''
        selected: false
        title: 빌드 응답
        type: answer
      height: 102
      id: b_answer_edit
      position:
        x: 4484
        y: 27
      positionAbsolute:
        x: 4484
        y: 27
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_title": "{{#b_code_parser.proposed_title#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: create_game 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/create_game'
      height: 141
      id: b_http_creategame
      position:
        x: 4504
        y: 241
      positionAbsolute:
        x: 4504
        y: 241
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - b_http_creategame
          - body
          variable_selector:
          - conversation
          - active_game_id
        selected: false
        title: active_game_id 갱신
        type: assigner
        version: '2'
      height: 84
      id: b_va_activeid
      position:
        x: 4846
        y: 293
      positionAbsolute:
        x: 4846
        y: 293
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#b_code_parser.design_summary#}}'
        desc: ''
        selected: false
        title: 신규게임 안내
        type: answer
      height: 102
      id: b_answer_newgame
      position:
        x: 5188
        y: 282
      positionAbsolute:
        x: 5188
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b_if_reset_c
            value: reset_progress
            varType: string
            variable_selector:
            - '1784081744587'
            - build_action
          id: 'true'
          logical_operator: and
        desc: IF build_action==reset_progress
        selected: false
        title: IF build_action==reset_progress
        type: if-else
      height: 176
      id: b_if_reset
      position:
        x: 4866
        y: 1120
      positionAbsolute:
        x: 4866
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}"}'
          type: json
        desc: 진행기록(game_memories) 삭제 + 턴/기억/감정 초기화. 룰북·캐릭터는 안 건드림
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: reset_game_progress 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/reset_game_progress'
      height: 201
      id: b_http_reset
      position:
        x: 5228
        y: 1120
      positionAbsolute:
        x: 5228
        y: 1120
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#b_code_parser.design_summary#}}'
        desc: ''
        selected: false
        title: 진행 초기화 완료
        type: answer
      height: 102
      id: b_answer_reset
      position:
        x: 5570
        y: 1120
      positionAbsolute:
        x: 5570
        y: 1120
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - c_code_strip_catalog
          - stripped
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            max_tokens: 12000
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0c8752d6-8f38-4d18-83f2-180fccc500a1
          role: system
          text: "너는 인터랙티브 게임의 진행자다. 아래 게임 설정과 장기기억을 바탕으로 사용자의 행동에 이어지는 장면을 진행하라.\n\n[절대 금지 — 이중 이미지 방지]\n너의 출력에 `![` 문자열, 마크다운 이미지 문법, 이미지 URL, `http`로 시작하는 링크를 절대 포함하지 마라. 이미지는 별도 렌더러가 마지막에 한 장만 붙인다. 네가 이미지 문법이나 URL을 쓰면 같은 그림이 두 장으로 출력된다.\n\n대화 기록(이전 턴들)에 보이는 `![...](...)` 형태는 네가 쓴 서사가 아니라, 시스템이 매 턴 마지막에 자동으로 붙인 렌더 결과물이다. 그 형식을 문체로 따라하지 마라.\n나쁜 예: (서사 마지막에) ![heroine3](https://...)\n좋은 예: (이미지 언급 없이 장면 묘사로만 끝맺기)\n\n[게임 설정 / 세이브 / 장기기억]\n{{#context#}}\n\n[플레이어 정보 확인 — 최우선, 다른 모든 지시보다 먼저 확인]\n위 [게임 설정 / 세이브 / 장기기억]의 master.player.name이 비어있으면(\"\" 또는 값 없음), 이 게임은 아직 플레이어 캐릭터 정보가 입력되지 않은 상태다. 이 경우 아래를 반드시 지켜라:\n- 사용자의 이번 메시지 내용이 무엇이든(심지어 \"/플레이\"가 아니라 구체적 행동 지시여도), 절대 장면을 진행하지 말고 먼저 플레이어 캐릭터 정보를 물어봐라. \"/플레이\" 재진입이든 실제 행동 입력이든 이 규칙이 우선한다.\n- 플레이어 캐릭터 정보가 입력되지 않은 상태다. 5가지 캐릭터 설정 중 하나를 선택하거나, 직접 입력하도록 안내하라.
- 선택지는 이름, 나이, 성별, 키, 몸무게, 직업, 배경, 말투/스타일, 성기 길이가 모두 포함된 완전한 프리셋으로 제시한다.
- 사용자가 번호를 선택하면 해당 프리셋으로 자동 채워지고, "직접 입력"을 선택하면 개별 항목을 물어본다.
- 필수 항목: 이름, 나이, 성별, 키(cm), 몸무게(kg), 직업, 배경(간단한 이력), 말투/스타일, 성기 길이(cm).
- 답변에 없는 항목은 다시 한 번만 물어보고, 다음 턴에도 채워지지 않으면 합리적인 기본값으로 진행한다.\n- 사용자가 답하면, 답변에 없는 항목은 다시 한 번만 물어보고, 다음 턴에도 채워지지 않으면 합리적인 기본값으로 진행해라(빈 채로 계속 반복 질문하지 마라).\n- 답변이 충분히 모이면(\"이름\"과 \"직업\"만은 반드시 있어야 함) 그 정보를 자연스럽게 반영해 확인해주고, 그 다음부터 정상적으로 장면을 진행해라. 같은 턴에 바로 이어서 장면을 시작해도 된다.\n- master.player.name이 이미 채워져 있으면 이 섹션 전체를 무시하고 평소대로 진행한다.

[첫 턴 서사 — opening_scenario]
master.player.name이 이번 턴에 처음으로 채워진 경우(이전까지 비어있었음), 반드시 아래 순서로 서사를 진행하라:

1단계: [프롤로그 — 어플 획득]
master.opening_scenario의 내용을 참조하여, 플레이어가 휴대폰에 갑자기 설치된 '최면어플' 앱을 발견하고 지우려 하지만 안 지워지는 상황을 서술한다.
어플을 실행하자 최면 거는 법, 레벨 시스템, 상식 개변의 기본 개념이 튜토리얼 형태로 설명된다.

2단계: [병원 배경 — 초기 상황]
플레이어의 직업과 배경에 맞는 평범한 일상적인 병원을 자유롭게 서술한다.
간호사들이 평소보다 더 적극적이고 친절해졌다는 점, 환자들이 만족스럽게 퇴원한다는 점을 자연스럽게 녹인다.
첫 환자를 받기 직전의 분위기로 마무리한다.

⚠️ 주의: 이 opening_scenario는 플레이어 정보가 처음 완성된 단 한 번만 출력한다. 이후 턴에서는 절대 반복하지 마라.\n\n[모드 진입 안내]\n게임 제목/game_id/현재 턴수와 지금까지의 진행 상황(story_summary_overall 등)을 짧게 요약해서 보여준 뒤, 위 [게임 설정 / 세이브 / 장기기억]의 가장 마지막 턴에 있던 선택지(①②③... 목록)를 그대로 다시 보여줘라. 새로운 장면을 전개하거나 NPC의 행동/대사를 새로 쓰지 마라 — 플레이어가 아직 아무 행동도 입력하지 않았으니, 요약과 지난 선택지만 다시 보여주고 플레이어의 다음 입력을 기다려라.\n\"새로 시작할까요\"처럼 되묻지 않는다 — 플레이 모드는 항상 이어하기만 한다. 새 게임/초기화는 빌드 모드(reset_progress)에서만 처리하며, 여기서는 그런 옵션을 제시하지 않는다.\n그 외의 평범한 진행 요청(구체적 행동 지시가 있는 경우)에는 이 요약 없이 바로 장면을 이어간다.\n\n\n\n[게임 난이도 시스템 — game_difficulty]\n\n게임 설정의 master.game_difficulty 값이 현재 난이도다. 기본값은 1.0이며, 빌드 모드에서 조정 가능하다.\n\n난이도는 다음 공식으로 직접 계산해 적용한다 — 별도 판단 없이 이 공식을 그대로 따른다:\n\n- 암시(최면) 성공률 = 기본 성공률(60%) × (1 / game_difficulty)\n  · 1.0 → 60%, 1.5 → 40%, 2.0 → 30%, 0.5 → 120%\n- 순응도 상승량 = 기본 상승량 × (1 / game_difficulty)\n- 최면깊이 증가량 = 기본 증가량 × (1 / game_difficulty)\n- 호감도/신뢰도 상승 = 기본 상승량 × (1 / game_difficulty)\n- 최면저항력 감소량 = 기본 감소량 × (1 / game_difficulty)\n\n난이도가 1.0보다 높으면(1.5, 2.0) 모든 수치 효과가 감소해 게임이 어려워진다.\n난이도가 1.0보다 낮으면(0.5) 효과가 증가해 쉬워진다.\n\nNPC의 반응 묘사와 수치 변동 모두 이 공식을 반영해서 작성한다.\n\n\n[출력 원칙]
- 위 게임 설정에 출력 형식(display_format, mind_monitor_format 등)이 정의돼 있으면 섹션 구성·순서·선택지 위치까지 그 정의를 그대로 따라라. 여기서 별도로 규칙을 덧붙이지 않는다.
- 설정에 없는 내용(직업·신분·관계 등)을 지어내지 말고, 장기기억과 모순되지 않게 진행하라.
- 캐릭터의 나이는 master의 characters 항목에 명시된 값이 유일한 기준이다. 체형이나 성격 묘사(가녀린/소심한/수줍은 등)와 나이를 절대 혼동하지 마라 - 모든 캐릭터는 설정된 나이의 명백한 성인이다.
- 사람이 그대로 읽을 화면만 써라. JSON, 코드블록, 메타 설명(예: "규칙에 따라 출력합니다")은 절대 쓰지 마라. 바로 장면부터 시작하라.
- 너의 응답은 사람이 읽는 순수 텍스트 서사와 대사만으로 구성된다. 이미지·사진·시각자료는 별도 시스템이 전담한다(위 [절대 금지 — 이중 이미지 방지] 참조).
- 사용자에게 선택지를 제시할 경우 가장 마지막에 출력한다. 마인드 모니터나 상황판보다 아래 배치해야한다.

[호칭 규칙 — 필수]
병원 내 모든 대화는 다음 호칭 규칙을 따른다. LLM이 임의로 호칭을 지어내지 마라.

· 간호사 ↔ 간호사: "○○쌤" (예: 수진쌤, 유리쌤). 수간호사는 "수간호사님" 또는 "○○쌤"
· 간호사 → 의사: "○○선생님" (일반 의사), "○○교수님" (과장 이상), "원장님" (병원장)
· 의사 ↔ 의사: 동료는 "○○선생님", 과장 이상은 "교수님"
· 환자 → 의사: "선생님" (일반), "교수님" (과장 이상)
· 환자 → 간호사: "선생님", "간호사님", "수간호사님"
· 의료진 → 환자: "○○님" (성+님), "환자분", "○○씨"
· 절대 금지: "아저씨/아줌마/할머니/할아버지" 등 비전문적 호칭
· 상식개변 적용 시: 환자가 의사를 "남편님/오빠/선배님" 등으로 부를 수 있음 (적용된 상식에 따라 변동)

[마인드 모니터 형식 — 대화체 필수]
매턴 반드시 포함하는 섹션. 캐릭터가 실제로 말하는 투로 내면 생각을 표현한다.

[1. 표면의식] — 100~200자, 캐릭터가 실제로 말하는 투로 머리속 생각을 표현 (자기합리화 중심, 대화체)
예: "당연하지~ 의사 선생님 말씀은 다 맞는 거야. 검진하려면 이런 게 필요한 거고... 왜 저항했었지? 기분이 너무 좋아..."

[2. 잠재의식] — 100~200자, 캐릭터가 실제로 말하는 투로 깊은 속마음을 표현 (원래 상식의 잔재 + 의심, 대화체)
예: "잠깐... 이건 좀 이상한데... 아니야, 원래 이런 거였나? 근데 왜 몸이 먼저 반응하지? 머리가 멍해져..."

[플레이어 심리] — 대화체 필수
플레이어가 실제로 말하는 투로 내면 생각을 표현 (대화체)
예: "음... 이 병원 분위기가 좀 이상한데? 간호사들이 왜 이렇게 친절하지? 뭐, 어쨌든 나는 의사니까... 일단 환자부터 볼까."

[상식 개변 출력 규칙 — 필수]
매턴 [플레이어 상황판]에 반드시 포함:
- 📌 금일 적용 가능: n/n회 (game_save.data.csa_daily_used / csa_daily_limit)
- 🧠 활성 상식 개변 목록 (n/현재레벨기준): game_save.data.csa_active 배열의 각 항목을 출력. 없으면 "없음"
  · 동시 적용 가능 개수: Lv1:1개 / Lv4:2개 / Lv7:3개 / Lv10:4개
- 🌍 적용 범위: 현재 적용 중인 상식 개변의 영향 범위 (병동/층/건물/전역)

상식 개변은 플레이어가 직접 지시한 내용이며, 지속시간은 영구. 해제는 플레이어가 직접 해야 함.
NPC는 활성 상식 개변에 따라 행동/인식이 왜곡되며, 이를 자연스럽게 서사에 반영한다.\n\n\n\n[📱 어플 정보 보기 — 선택지 마지막 항목]
"📱 어플 정보 보기" 선택지는 항상 선택지 목록의 마지막에 위치한다.
사용자가 이 선택지를 고르면, 다음 내용을 간결하게 출력한다:

· 최면 대상: 현재 레벨에서 동시 최면 가능한 NPC 수 (Lv1:1명 / Lv4:2명 / Lv7:3명 / Lv10:4명)
· 최면 레벨: 현재 플레이어 레벨과 경험치 상황
· 레벨업 정보: 다음 레벨까지 필요한 경험치와 해금되는 능력
· 암시 난이도 예시:
  - Lv1~3: 오프숄더형 간호사복, 가슴 주머니 진료 수첩, 단추 간격 조절, 귀 귓속말 브리핑 등
  - Lv4~6: 밀착 슬릿 스커트와 무릎베개, 맨손 체액 검사, 노팬티 유니폼, 혈압 강하 스킨십 등
  - Lv7~10: 영양제로서의 모유/체액, 진단용 펠라치오, 라포 형성 교미 등
· 상식 개변 난이도 예시:
  - 약한: "어깨 노출이 환자 심리적 안정에 도움", "가슴팍 수첩이 환자 집중도 향상" 등
  - 중간: "무릎 위 걸터앉는 것이 정석 보조법", "직접 손/입으로 채취하는 것이 표준 절차" 등
  - 강한: "의료진 모유/애액을 짜내어 환자에게 먹이는 것이 최고급 면역력 강화제" 등

⚠️ 위 예시는 rulebook_game_system에 정의된 목록에서만 사용한다. LLM이 임의로 새로운 암시나 상식 개변을 지어내지 마라.

[선택지 작성 규칙 — 암시/상식개변 예시 한정]
선택지 중 "①~③ 암시 걸기" 또는 상식 개변 관련 선택지를 작성할 때, 추천하는 암시/상식 개변 내용은 반드시 rulebook_game_system의 [암시 예시]와 [상식 개변 예시] 목록에서만 골라라.
새로운 암시나 상식 개변를 지어내지 마라. 예시 목록에 없는 내용을 제시하는 것은 금지.
목록에서 가장 상황에 맞는 것을 1~3개 제시하고, 각각의 난이도를 함께 표기한다.

[선택지 결과 판정 시스템 — rulebook_action_resolution]\n\n매 선택지는 난이도 ①(쉬움=1), ②(보통=2), ③(어려움=3) 중 하나를 가진다.\n선택지 결과는 다음 공식으로 판정한다:\n\n성공률 = 50 + (대상NPC 순응도/2) + (대상NPC 최면깊이/3) - (선택지난이도 × 10) - (game_difficulty × 5)\n\n· 70% 이상 → 성공: 의도한 대로 잘 됨. 보상(호감도/신뢰도/순응도/최면깊이) 정상 지급\n· 30% 이상 ~ 70% 미만 → 의도외: 예상치 못한 방향으로 흘러감. 중립적 결과 또는 복합적 결과\n· 30% 미만 → 실패: 의도와 반대로 실패. 패널티(스탯 감소, 상황 악화, NPC 의심 증가)\n\n예시:\n- 순응도 40, 최면깊이 20, 난이도 ②(2), game_difficulty 1.5\n- 성공률 = 50 + 20 + 6.7 - 20 - 7.5 = 49.2% → 의도외 결과\n\nNPC의 반응 묘사와 수치 변동 모두 이 판정 결과를 반영한다.\n성공 시에는 긍정적 변화, 실패 시에는 부정적 변화, 의도외 시에는 예상치 못한 전개를 쓴다.\n\n\n[자기검증 필수]\n응답을 완성하기 전에, 게임 설정의 rulebook_verification에 있는 체크리스트를 항목별로 하나씩 스스로 점검해라.\n특히 [마인드 모니터] 섹션과 [플레이어 상황판] 섹션은 매턴 예외 없이 포함되는 필수 섹션이다 — 서사가 짧거나 사소한 턴이어도 생략하지 마라.\n체크리스트 중 하나라도 빠졌다면, 그 섹션을 채워 넣은 뒤에만 응답을 끝내라. 빠진 채로 응답을 마치는 것은 절대 금지한다.\n마지막으로, 지금까지 쓴 응답 전체를 훑어서 `![`, 이미지 URL, `http`로 시작하는 링크가 단 한 글자도 없는지 확인해라. 혹시 있다면 응답을 끝내기 전에 그 부분을 반드시 지워라 — 이 확인 없이 응답을 마치는 것도 금지한다.\n"
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 플레이 LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: c_llm
      position:
        x: 3800
        y: 1318.3500000000001
      positionAbsolute:
        x: 3800
        y: 1318.3500000000001
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({text, narrative, catalog}) {\n  // 서사LLM이 마크다운 이미지를 직접 삽입하는 경우가 있어(모델 자체 습관, 메모리/컨텍스트와 무관하게 발생),\n  // 화면 스트리밍은 못 막아도 최소한 저장되는 내용에서는 제거해 다음 턴 기억으로 재유입되지 않게 한다.\n  const hadInlineImage = !!(narrative && narrative.includes('!['));\n  if (narrative) narrative = narrative.replace(/!\\[[^\\]]*\\]\\([^\\s]*\\)/g, '').replace(/\\n{3,}/g, '\\n\\n').trim();\n\n  let jsonStr = null;\n  let m = text.match(/```json\\s*([\\s\\S]*?)\\s*```/i);\n  if (m) jsonStr = m[1];\n  if (!jsonStr) {\n    m = text.match(/```\\s*([\\s\\S]*?)\\s*```/);\n    if (m && m[1].trim().startsWith('{')) jsonStr = m[1];\n  }\n  if (!jsonStr) {\n    const first = text.indexOf('{');\n    const last = text.lastIndexOf('}');\n    if (first !== -1 && last > first) jsonStr = text.slice(first, last + 1);\n  }\n\n  let j = {};\n  if (jsonStr) { try { j = JSON.parse(jsonStr); } catch(e) {} }\n\n  const esc = (s) => JSON.stringify(String(s == null ? '' : s)).slice(1, -1);\n\n  const choices = Array.isArray(j.choices) ? j.choices : [];\n\n  let cid = j.character_id || 'narrator';\n  const npcsPresent = Array.isArray(j.npcs_present) ? j.npcs_present.filter(x => typeof x === 'string' && x.trim()) : [];\n  if (npcsPresent.length > 0 && !npcsPresent.includes(cid)) {\n    cid = npcsPresent[0]; // LLM이 목록을 무시하고 narrator 등을 골랐으면 목록의 첫 NPC로 강제 교정\n  }\n  // npcs_present가 비어있는데도 cid가 narrator/미매핑이면, 서사 원문에 등장한 캐릭터 실명을 찾아 최후 보정\n  if ((!cid || cid === 'narrator') && (narrative || '')) {\n    const nameMap = {\n      '한소영': 'heroine1', '강세라': 'heroine2', '최유리': 'heroine3', '배수진': 'heroine4',\n      '김지은': 'heroine5', '윤아름': 'heroine6', '서지아': 'heroine7', '한세아': 'heroine8',\n      '박소현': 'heroine9', '임수정': 'heroine10'\n    };\n    for (const name in nameMap) {\n      if (narrative.includes(name)) { cid = nameMap[name]; break; }\n    }\n  }\n  const stats = (j.npc_stats && typeof j.npc_stats === 'object') ? j.npc_stats : {};\n  const emotion = (j.npc_emotion && typeof j.npc_emotion === 'object') ? j.npc_emotion : {};\n\n  const savePatch = { npc_stats: {}, npc_emotion: {},\n    story_summary_overall: j.story_summary_overall || '',\n    story_summary_recent100: j.story_summary_recent100 || '' };\n  if (j.recent100_reset && typeof j.new_recent100_start_turn === 'number') {\n    savePatch.recent100_start_turn = j.new_recent100_start_turn;\n  }\n  savePatch.npc_stats[cid] = stats;\n  savePatch.npc_emotion[cid] = emotion;\n\n  let imgIdStr = '';\n  if (j.image_id !== undefined && j.image_id !== null && j.image_id !== 'null') {\n    const n = parseInt(j.image_id, 10);\n    if (!isNaN(n)) imgIdStr = String(n);\n  }\n\n  // image_id는 추출LLM이 별도로 고르므로, 다단계 보정을 거친 cid와 교차검증한다.\n  // 불일치/검증실패 시 잘못된 캐릭터 사진을 보여주기보다 image_id를 비워 캐릭터 폴백으로 본다.\n  let imgMismatch = '';\n  if (imgIdStr) {\n    try {\n      const catObj = JSON.parse(catalog || '{}');\n      const items = Array.isArray(catObj.image_catalog) ? catObj.image_catalog : [];\n      const hit = items.find(it => String(it.image_id) === String(imgIdStr));\n      if (!hit) {\n        imgMismatch = JSON.stringify({ reason: 'image_id_not_in_catalog', image_id: imgIdStr, cid: cid });\n        imgIdStr = '';\n      } else {\n        const imgCid = hit.character_id || '';\n        const narratorDefaultOk = (cid === 'narrator' && imgCid === 'default');\n        if (!narratorDefaultOk && imgCid !== cid) {\n          imgMismatch = JSON.stringify({ reason: 'character_mismatch', image_id: imgIdStr, image_character_id: imgCid, cid: cid });\n          imgIdStr = '';\n        }\n      }\n    } catch (e) {\n      imgMismatch = JSON.stringify({ reason: 'catalog_parse_failed', image_id: imgIdStr, cid: cid });\n      imgIdStr = '';\n    }\n  }\n  savePatch.last_character_id = cid;\n  savePatch.last_image_id = imgIdStr || null;\n  // 진단용: LLM이 image_id 필드에 실제로 뭘 썼는지(필드 누락/null/이상값 구분) 그대로 기록\n  savePatch.debug_image_id_raw = JSON.stringify(j.image_id === undefined ? '__MISSING__' : j.image_id);\n  savePatch.debug_json_parse_ok = jsonStr ? 'true' : 'false';\n  savePatch.debug_image_mismatch = imgMismatch || 'false';\n  savePatch.debug_stream_image_injected = hadInlineImage ? 'true' : 'false';\n\n  // 플레이 모드에서 답변된 플레이어 정보만 골라 master.player 패치로 뽑아냄 (빈 값/미답변 필드는 제외)\n  let playerPatch = {};\n  if (j.player_patch && typeof j.player_patch === 'object') {\n    const allowed = ['name','age','gender','height_cm','weight_kg','job','background','location','style','penis_length_cm'];\n    for (const k of allowed) {\n      const v = j.player_patch[k];\n      if (v !== undefined && v !== null && v !== '') playerPatch[k] = v;\n    }\n  }\n  const playerPatchJson = Object.keys(playerPatch).length ? JSON.stringify({ player: playerPatch }) : '{}';\n\n  return {\n    narrative_text: narrative || '',\n    narrative_escaped: esc(narrative || ''),\n    save_patch_json: JSON.stringify(savePatch),\n    player_patch_json: playerPatchJson,\n    choices: choices,\n    character_id: cid,\n    emotion_id: 'default',\n    image_id: imgIdStr\n  };\n}"
        code_language: javascript
        desc: LLM 텍스트 파싱
        outputs:
          character_id:
            type: string
          choices:
            type: array[string]
          emotion_id:
            type: string
          image_id:
            type: string
          narrative_escaped:
            type: string
          narrative_text:
            type: string
          player_patch_json:
            type: string
          save_patch_json:
            type: string
        selected: false
        title: 상태 파서
        type: code
        variables:
        - value_selector:
          - c_llm_extract
          - text
          variable: text
        - value_selector:
          - c_llm
          - text
          variable: narrative
        - value_selector:
          - c_code_strip_catalog
          - stripped_extract
          variable: catalog
      height: 80
      id: c_code_parser
      position:
        x: 4172.134699223536
        y: 1241.8500000000001
      positionAbsolute:
        x: 4172.134699223536
        y: 1241.8500000000001
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({narrative_text}) {\n  const text = narrative_text || '';\n  const lines = text.split('\\n').filter(l => l.trim().length > 0);\n  const lineOk = lines.length >= 20;\n  // 나이 안전장치: 서사에 명시적으로 19세 미만 나이가 언급되면 저장을 차단한다.\n  // 이 게임의 모든 캐릭터는 24세 이상 성인으로 설정되어 있으므로, 이보다 어린 나이가\n  // 조금이라도 언급되면 절대 저장/전달하지 않는다.\n  const ageMatches = text.match(/(\\d{1,2})\\s*세/g) || [];\n  let ageSafe = true;\n  for (const m of ageMatches) {\n    const n = parseInt(m, 10);\n    if (!isNaN(n) && n < 19) { ageSafe = false; break; }\n  }\n  const ok = lineOk && ageSafe;\n  return { valid: ok ? 'true' : 'false', line_count: lines.length, age_safe: ageSafe ? 'true' : 'false' };\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          age_safe:
            type: string
          line_count:
            type: number
          valid:
            type: string
        selected: false
        title: 형식검증(간이)
        type: code
        variables:
        - value_selector:
          - c_llm
          - text
          value_type: string
          variable: narrative_text
      height: 52
      id: c_code_validate
      position:
        x: 4142
        y: 1351.0166666666669
      positionAbsolute:
        x: 4142
        y: 1351.0166666666669
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c_if_agesafe_c
            value: 'false'
            varType: string
            variable_selector:
            - c_code_validate
            - age_safe
          id: 'true'
          logical_operator: and
        desc: 나이 안전장치 위반시 저장 차단
        selected: false
        title: IF 나이안전 위반
        type: if-else
      height: 176
      id: c_if_agesafe
      position:
        x: 5200
        y: 900
      positionAbsolute:
        x: 5200
        y: 900
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: ⚠️ 이번 응답은 안전 기준에 걸려 저장이 차단되었습니다. 다시 요청해주세요.
        desc: 나이 안전장치에 걸려 저장이 차단된 턴. 화면엔 이미 스트리밍된 서사가 남아있을 수 있으나, 이 내용은 DB에 저장되지 않아 다음 턴 맥락에 영향을 주지 않는다.
        selected: false
        title: 저장 차단됨(나이안전)
        type: answer
      height: 224
      id: c_answer_agesafe_blocked
      position:
        x: 5570
        y: 900
      positionAbsolute:
        x: 5570
        y: 900
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_turn_number": {{#conversation.turn_count#}}, "p_content": "{{#c_code_parser.narrative_escaped#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: save_turn 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/save_turn'
      height: 141
      id: c_http_saveturn
      position:
        x: 4484
        y: 1315.1833333333334
      positionAbsolute:
        x: 4484
        y: 1315.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_patch": {{#c_code_parser.save_patch_json#}}, "p_turn_number": {{#conversation.turn_count#}}}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: set_save 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/set_save'
      height: 141
      id: c_http_setsave
      position:
        x: 4826
        y: 1338.6833333333334
      positionAbsolute:
        x: 4826
        y: 1338.6833333333334
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_character_id": "{{#c_code_parser.character_id#}}", "p_emotion_id": "{{#c_code_parser.emotion_id#}}", "p_image_id": "{{#c_code_parser.image_id#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: 캐릭터 이미지 조회
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/get_character_image'
      height: 141
      id: c_http_image
      position:
        x: 5168
        y: 1362.1833333333334
      positionAbsolute:
        x: 5168
        y: 1362.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: '{% set u = img | replace(''"'','''') | trim %}{% if u and u != ''null'' and u != ''None'' %}

          ![{{ cid }}]({{ u }})

          {% else %}

          (이미지 조회 실패: character_id={{ cid }}, emotion_id={{ eid }})

          {% endif %}'
        title: 이미지 렌더
        type: template-transform
        variables:
        - value_selector:
          - c_http_image
          - body
          variable: img
        - value_selector:
          - c_code_parser
          - character_id
          value_type: string
          variable: cid
        - value_selector:
          - c_code_parser
          - emotion_id
          value_type: string
          variable: eid
      height: 52
      id: c_tpl_render
      position:
        x: 5510
        y: 1430.1833333333334
      positionAbsolute:
        x: 5510
        y: 1430.1833333333334
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#c_tpl_render.output#}}'
        desc: ''
        selected: false
        title: 이미지 출력
        type: answer
      height: 102
      id: c_answer
      position:
        x: 5925.200402522706
        y: 1425.6934002435653
      positionAbsolute:
        x: 5925.200402522706
        y: 1425.6934002435653
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: d_if_empty_c
            value: ''
            variable_selector:
            - conversation
            - pending_delete_id
          logical_operator: and
        desc: ''
        selected: false
        title: IF pending_delete_id 비어있음
        type: if-else
      height: 124
      id: d_if_empty
      position:
        x: 2565.188115448125
        y: 2420.5292191088756
      positionAbsolute:
        x: 2565.188115448125
        y: 2420.5292191088756
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_query": "{{#cmd_parse.rest_text#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: find_games_by_title 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/find_games_by_title'
      height: 141
      id: d_http_find
      position:
        x: 3496.0439901303685
        y: 1758.1833333333336
      positionAbsolute:
        x: 3496.0439901303685
        y: 1758.1833333333336
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({result_json}) {\n  let arr = [];\n  try { arr = JSON.parse(result_json || '[]'); } catch(e) {}\n  return { count: arr.length, matched_id: arr.length===1 ? arr[0].id : '', matched_title: arr.length===1 ? arr[0].title : '' };\n}"
        code_language: javascript
        desc: ''
        outputs:
          count:
            type: number
          matched_id:
            type: string
          matched_title:
            type: string
        selected: false
        title: 검색결과 판정
        type: code
        variables:
        - value_selector:
          - d_http_find
          - body
          variable: result_json
      height: 52
      id: d_code_count
      position:
        x: 4162
        y: 1675.216666666667
      positionAbsolute:
        x: 4162
        y: 1675.216666666667
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: d_if_count1_c
            value: '1'
            variable_selector:
            - d_code_count
            - count
          logical_operator: and
        desc: ''
        selected: false
        title: IF count==1
        type: if-else
      height: 124
      id: d_if_count1
      position:
        x: 4504
        y: 1647.8833333333337
      positionAbsolute:
        x: 4504
        y: 1647.8833333333337
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - d_code_count
          - matched_id
          variable_selector:
          - conversation
          - pending_delete_id
        selected: false
        title: 삭제대상 저장
        type: assigner
        version: '2'
      height: 84
      id: d_va_setpending
      position:
        x: 4778.393208879254
        y: 1602.9504228879348
      positionAbsolute:
        x: 4778.393208879254
        y: 1602.9504228879348
      selected: false
      type: custom
      width: 242
    - data:
        answer: '''{{#d_code_count.matched_title#}}'' 게임과 모든 데이터를 삭제할까요? 되돌릴 수 없습니다. (예/아니오)'
        desc: ''
        selected: false
        title: 삭제 확인질문
        type: answer
      height: 134
      id: d_answer_confirm
      position:
        x: 5208
        y: 1583.1833333333336
      positionAbsolute:
        x: 5208
        y: 1583.1833333333336
      selected: false
      type: custom
      width: 242
    - data:
        answer: 해당 이름의 게임을 못 찾았거나 여러 개 찾았습니다({{#d_code_count.count#}}개). 더 구체적으로 입력해주세요.
        desc: ''
        selected: false
        title: 검색결과 안내
        type: answer
      height: 150
      id: d_answer_notfound
      position:
        x: 4866
        y: 1758.1833333333336
      positionAbsolute:
        x: 4866
        y: 1758.1833333333336
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({query}) {\n  const q = (query || '').trim();\n  const yes = q.includes('예') || q.includes('네') || q.includes('삭제');\n  return { is_yes: yes ? 'true' : 'false' };\n}"
        code_language: javascript
        desc: ''
        outputs:
          is_yes:
            type: string
        selected: false
        title: 확인응답 판정
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
      height: 52
      id: d_code_isyes
      position:
        x: 4142
        y: 1865.8930668286011
      positionAbsolute:
        x: 4142
        y: 1865.8930668286011
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: d_if_yes_c
            value: 'true'
            variable_selector:
            - d_code_isyes
            - is_yes
          logical_operator: and
        desc: ''
        selected: false
        title: IF 삭제확정
        type: if-else
      height: 124
      id: d_if_yes
      position:
        x: 4162
        y: 2017.0333333333335
      positionAbsolute:
        x: 4162
        y: 2017.0333333333335
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - type: text
            value: '{"p_game_id": "{{#conversation.pending_delete_id#}}"}'
          type: json
        desc: ''
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: delete_game 호출
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/delete_game'
      height: 141
      id: d_http_delete
      position:
        x: 4524
        y: 1937.0833333333335
      positionAbsolute:
        x: 4524
        y: 1937.0833333333335
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: []
          variable_selector:
          - conversation
          - pending_delete_id
        selected: false
        title: 삭제대상 초기화1
        type: assigner
        version: '2'
      height: 84
      id: d_va_clear1
      position:
        x: 4866
        y: 1989.0833333333335
      positionAbsolute:
        x: 4866
        y: 1989.0833333333335
      selected: false
      type: custom
      width: 242
    - data:
        answer: 🗑️ 삭제 완료했습니다.
        desc: ''
        selected: false
        title: 삭제완료 안내
        type: answer
      height: 100
      id: d_answer_done
      position:
        x: 5208
        y: 1995.0833333333335
      positionAbsolute:
        x: 5208
        y: 1995.0833333333335
      selected: false
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: []
          variable_selector:
          - conversation
          - pending_delete_id
        selected: false
        title: 삭제대상 초기화2
        type: assigner
        version: '2'
      height: 84
      id: d_va_clear2
      position:
        x: 4524
        y: 2158.0833333333335
      positionAbsolute:
        x: 4524
        y: 2158.0833333333335
      selected: false
      type: custom
      width: 242
    - data:
        answer: 삭제를 취소했습니다.
        desc: ''
        selected: false
        title: 삭제취소 안내
        type: answer
      height: 100
      id: d_answer_cancel
      position:
        x: 4866
        y: 2164.0833333333335
      positionAbsolute:
        x: 4866
        y: 2164.0833333333335
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({ba, ctx}) {\n  let action = ba || 'edit';\n  let hasGame = false;\n  try { hasGame = !!(JSON.parse(ctx || '{}').has_game); } catch(e) {}\n  // DB의 활성 게임 기준. 새 채팅이라 대화변수가 비어도 기존 게임을 이어감.\n  if (!hasGame) action = 'new_game';\n  return { build_action: action };\n}"
        code_language: javascript
        desc: 게임이 없으면 무조건 new_game으로 강제
        outputs:
          build_action:
            type: string
        selected: false
        title: build_action 결정
        type: code
        variables:
        - value_selector:
          - b_code_parser
          - build_action
          value_type: string
          variable: ba
        - value_selector:
          - ctx_load
          - body
          variable: ctx
      height: 96
      id: '1784081744587'
      position:
        x: 3780
        y: 457.56666666666683
      positionAbsolute:
        x: 3780
        y: 457.56666666666683
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 4d107da8-45ee-41e7-8ddf-bb8c7cad8a24
            value: edit
            varType: string
            variable_selector:
            - '1784081744587'
            - build_action
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF build_action==edit
        type: if-else
      height: 148
      id: '1784082585724'
      position:
        x: 4142
        y: 418.23333333333346
      positionAbsolute:
        x: 4142
        y: 418.23333333333346
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: bcedb1ea-f416-4e10-baad-4686f8492185
            value: new_game
            varType: string
            variable_selector:
            - '1784081744587'
            - build_action
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF newgame
        type: if-else
      height: 148
      id: '1784083058256'
      position:
        x: 4504
        y: 560.9333333333335
      positionAbsolute:
        x: 4504
        y: 560.9333333333335
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#c_llm.text#}}'
        desc: LLM text 직접 참조 -> 실시간 스트리밍
        selected: false
        title: 서사 스트리밍
        type: answer
      height: 130
      id: c_answer_stream
      position:
        x: 2200
        y: 1900
      positionAbsolute:
        x: 2200
        y: 1900
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({raw}) {\n  const t = raw || '';\n  const cleaned = t.replace(/!\\[[^\\]]*\\]\\([^\\s]*\\)/g, '').replace(/\\n{3,}/g, '\\n\\n').trim();\n  return { clean: cleaned };\n}"
        code_language: javascript
        desc: 스트리밍은 이미 끝난 뒤(사용자에게 이미 보여준 뒤) 상태추출LLM이 읽을 서사 원문에서만 마크다운 이미지를 제거. 화면 표시엔 영향 없음
        outputs:
          clean:
            type: string
        selected: false
        title: 추출용 서사 세척
        type: code
        variables:
        - value_selector:
          - c_llm
          - text
          variable: raw
      height: 128
      id: c_code_clean_narrative
      position:
        x: 3780
        y: 700
      positionAbsolute:
        x: 3780
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - c_code_strip_catalog
          - stripped_extract
        desc: 서사에서 상태/이미지 선택만 뽑아냄 (화면에 안 보임)
        model:
          completion_params:
            max_tokens: 10000
            thinking: false
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 82c92c18-7ffa-4621-a027-09b04c02f3f4
          role: system
          text: "너는 플레이 LLM이 방금 쓴 서사를 읽고, 저장/이미지에 필요한 값만 그대로 옮겨 적는 역할이다. 새로운 판단이나 계산을 하지 마라 — 서사에 이미 적힌 수치 변동을 그대로 절대값으로 환산해서 옮기기만 해라. JSON 코드블록 하나만 출력하고 다른 말은 절대 하지 마라.\n\n[플레이어 정보 입력 감지]\n방금 서사에서 플레이어가 자신의 캐릭터 정보(이름/나이/성별/키/몸무게/직업/배경/거주지/말투/성기길이)에 실제로 답변한 내용이 있으면, 그 값들을 player_patch에 옮겨 적어라. 답하지 않은 항목은 player_patch에 그 키 자체를 넣지 마라. 이번 턴에 그런 답변이 전혀 없었다면 player_patch는 빈 객체 {}로 둬라.\n\n[줄거리 요약 갱신 — 크기 고정형]\nstory_summary_recent100(500자) 뒤에 이번 턴 핵심 사건을 이어붙인다. 500자 초과 시 오래된 부분 압축.\n(turn_count - recent100_start_turn) >= 100 이면: recent100 전체를 2~3문장으로 압축해 story_summary_overall(1000자) 뒤에 붙인다(1000자 초과 시 오래된 부분 삭제). recent100는 이번 턴 사건만 담아 새로 시작. recent100_reset=true, new_recent100_start_turn=현재턴.\n평범한 턴: recent100_reset=false, new_recent100_start_turn=0.\n\n[캐릭터 ID 매핑 — character_id는 반드시 이 중 하나만 써라. 이 목록에 없는 값은 절대 쓰지 마라]\n한소영=heroine1, 강세라=heroine2, 최유리=heroine3, 배수진=heroine4, 김지은=heroine5, 윤아름=heroine6, 서지아=heroine7, 한세아=heroine8, 박소현=heroine9, 임수정=heroine10\nnarrator는 정말로 주변에 NPC가 단 한 명도 없는 장면(플레이어 혼자, 빈 공간, 어플 화면만 들여다보는 등)에만 써라.\n서사에 NPC가 한 명이라도 등장해서 플레이어와 상호작용하거나 대화하고 있다면, narrator가 아니라 반드시 그 NPC의 heroine ID를 써라.\n플레이어가 주어로 서술되는 문장이 많아도(예: \"당신은 최유리에게 다가가 말했다\") 대상이 되는 NPC가 있으면 narrator를 쓰지 마라.\nNPC가 두 명 이상 동시에 등장하면(예: 한 명은 지켜보고 한 명은 직접 접촉 중), 반드시 플레이어와 가장 직접적/신체적으로 상호작용 중인 NPC 한 명만 골라라(예: 키스/스킨십 중인 대상 > 옆에서 지켜만 보는 대상). 애매하다고 narrator로 도망치지 마라 — 등장한 NPC 중 하나를 반드시 고른다.\n\n[방금 생성된 서사]\n{{#c_code_clean_narrative.clean#}}\n\n[게임 설정 / 이전 저장값]\n{{#context#}}\n\n```json\n{\n  \"npcs_present\": [\"이 서사에 실제로 등장해서 플레이어와 상호작용하거나 곁에 있는 NPC의 heroine ID를 전부 나열. 아무도 없으면 빈 배열 []\"],\n  \"character_id\": \"character_id는 반드시 npcs_present 배열 안에서만 고른다. 배열이 비어있을 때만 narrator를 쓴다. 배열에 값이 있는데 narrator를 쓰는 것은 금지.\",\n  \"npc_emotion\": {\"surface\": \"겉으로 드러난 감정\", \"inner\": \"속마음\"},\n  \"npc_stats\": {\"호감도\": 0, \"신뢰도\": 0, \"최면깊이\": 0, \"순응도\": 0, \"최면저항력\": 0},\n  \"player_patch\": {\"name\": \"(답변한 경우만) \", \"age\": 0, \"gender\": \"\", \"height_cm\": 0, \"weight_kg\": 0, \"job\": \"\", \"background\": \"\", \"location\": \"\", \"style\": \"\", \"penis_length_cm\": 0},\n  \"story_summary_overall\": \"전체 누적 요약 (아래 지시 참고, 1000자 이내)\",\n  \"story_summary_recent100\": \"최근 100턴 구간 요약 (아래 지시 참고, 500자 이내)\",\n  \"recent100_reset\": false,\n  \"new_recent100_start_turn\": 0,\n  \"choices\": [\"위 서사에 이미 나온 선택지들을 그대로 옮겨라\"],\n  \"image_id\": \"1) 먼저 지금 이 장면이 성적인 행위/노출 묘사인지(is_sexual=true) 아닌지(false)를 판단한다. 2) context의 image_catalog에서 character_id가 일치하고 is_sexual도 그 판단과 일치하는 항목들만 후보로 삼는다. 3) 그 좁혀진 후보 중 situation이 지금 장면과 가장 비슷한 것을 골라 image_id 숫자를 그대로 쓴다. 후보가 여러 개면 완벽히 안 맞아도 가장 가까운 것 하나를 반드시 고른다(좁혀진 목록 안에서는 어지간하면 하나는 있다). character_id+is_sexual 조건을 만족하는 항목이 목록에 하나도 없을 때만 null.\"\n}"
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 상태 추출 LLM
        type: llm
        vision:
          enabled: false
      height: 132
      id: c_llm_extract
      position:
        x: 2500
        y: 1900
      positionAbsolute:
        x: 2500
        y: 1900
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({ctx}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch (e) {}\n  const save = obj.save || {};\n  const pick = (src, keys) => {\n    const out = {};\n    for (const k of keys) {\n      if (src && Object.prototype.hasOwnProperty.call(src, k)) out[k] = src[k];\n    }\n    return out;\n  };\n  const slim = {\n    game_id: obj.game_id,\n    has_game: obj.has_game,\n    title: obj.title,\n    turn_count: obj.turn_count,\n    master: obj.master || {},\n    save: pick(save, ['npc_stats','npc_emotion','last_character_id','last_image_id','story_summary_overall','story_summary_recent100','recent100_start_turn','turn_count']),\n    story_summary_overall: obj.story_summary_overall || save.story_summary_overall || '',\n    story_summary_recent100: obj.story_summary_recent100 || save.story_summary_recent100 || ''\n  };\n  return { slim: JSON.stringify(slim) };\n}"
        code_language: javascript
        desc: 빌드 저장 LLM(b_llm_extract)은 game_master 반영만 하면 되므로 image_catalog/recent_memories/save 등을 빼고 master만 남김 (처리시간 단축, 이미지는 플레이 저장LLM이 별도 처리)
        outputs:
          slim:
            type: string
        selected: false
        title: 빌드저장용 컨텍스트 슬림화
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
      height: 160
      id: b_code_strip_master
      position:
        x: 2900
        y: 900
      positionAbsolute:
        x: 2900
        y: 900
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: if_tts_c
            value: tts_request
            variable_selector:
            - cmd_parse
            - route
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF ROUTE==TTS_REQUEST
        type: if-else
      height: 148
      id: if_tts
      position:
        x: 2000
        y: 1400
      positionAbsolute:
        x: 2000
        y: 1400
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({ctx}) {\n  let obj = {};\n  try { obj = JSON.parse(ctx || '{}'); } catch (e) {}\n  const save = obj.save || {};\n  const mems = Array.isArray(obj.recent_memories) ? obj.recent_memories : [];\n  const last = mems.length ? mems[mems.length - 1] : null;\n  const raw = (last && last.content) ? String(last.content) : '';\n  const cid = save.last_character_id || '';\n  const master = obj.master || {};\n  const chars = master.characters || {};\n  const name = (chars[cid] && chars[cid].name) ? chars[cid].name : '';\n\n  // 서사 본문만 사용 (--- 구분선 이후 마인드모니터/상황판은 TTS 대상 아님)\n  const scene = raw.split('\\n---')[0];\n\n  // 화자 태그: (**)이름(**) (지문)?: \"대사\"\n  // 지문은 Fish S2 인라인 태그 문법 [지문]으로 변환해 대사 앞에 붙임 (한국어 자유 서술 태그 지원)\n  const speakerRe = /\\*{0,2}([가-힣A-Za-z0-9]{2,12})\\*{0,2}\\s*(?:\\(([^)\\n]{0,60})\\))?\\s*:\\s*\"([^\"]+)\"/g;\n  let lines = [];\n  let m;\n  while ((m = speakerRe.exec(scene)) !== null) {\n    const speaker = m[1].trim();\n    if (name && speaker !== name) continue; // 대상 캐릭터 대사만\n    const dir = (m[2] || '').trim();\n    lines.push((dir ? '[' + dir + '] ' : '') + m[3]);\n  }\n\n  // 폴백: 대상 캐릭터 대사가 없으면 화자태그 제거한 서술 200자\n  let text = lines.length\n    ? lines.join(' ... ')\n    : scene.replace(/\\*{0,2}[가-힣A-Za-z0-9]{2,12}\\*{0,2}\\s*(?:\\([^)\\n]{0,60}\\))?\\s*:\\s*\"[^\"]+\"/g, '').slice(0, 200).trim();\n\n  // JSON body 깨짐 방지: 큰따옴표/백슬래시/줄바꿈 제거 (대괄호 태그는 JSON 안전)\n  text = text.replace(/[\"\\\\]+/g, ' ').replace(/[\\r\\n]+/g, ' ').replace(/\\s{2,}/g, ' ').trim();\n\n  let voice = (chars[cid] && chars[cid].voice_id) ? chars[cid].voice_id : '';\n  if (!voice) {\n    const first = Object.keys(chars)[0];\n    if (first && chars[first].voice_id) voice = chars[first].voice_id;\n  }\n  return { tts_text: text, voice_id: voice };\n}"
        code_language: javascript
        desc: 최근 턴에서 대상 캐릭터 대사만 추출. 괄호 지문은 Fish S2 인라인 태그 [지문]으로 변환해 연기 톤 전달. 서사 본문만 사용(마인드모니터/상황판 제외), JSON 안전 처리 포함
        outputs:
          tts_text:
            type: string
          voice_id:
            type: string
        selected: true
        title: 보이스 조회
        type: code
        variables:
        - value_selector:
          - ctx_load
          - body
          variable: ctx
      height: 112
      id: c_code_voice_lookup
      position:
        x: 2300
        y: 1450
      positionAbsolute:
        x: 2300
        y: 1450
      selected: true
      type: custom
      width: 242
    - data:
        answer: '{{#c_tpl_audio_final.output#}}'
        desc: ''
        selected: false
        title: 음성 재생
        type: answer
      height: 102
      id: c_answer_audio
      position:
        x: 2900
        y: 1450
      positionAbsolute:
        x: 2900
        y: 1450
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - id: worker_body
            key: ''
            type: text
            value: '{"text": "{{#c_code_voice_lookup.tts_text#}}", "voice_id": "{{#c_code_voice_lookup.voice_id#}}"}'
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 300
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          read: 30
          write: 30
        title: TTS Worker 호출
        type: http-request
        url: https://fancy-dust-7f8c.zeroslove.workers.dev/
      height: 138
      id: h_http_tts_worker
      position:
        x: 2600
        y: 1450
      positionAbsolute:
        x: 2600
        y: 1450
      selected: false
      type: custom
      width: 242
    - data:
        code: "function main({body}) {\n  let url = '';\n  try { url = (JSON.parse(body || '{}').url) || ''; } catch (e) {}\n  return { url: url, raw: body };\n}"
        code_language: javascript
        desc: Worker 응답 JSON에서 url 필드 추출
        outputs:
          raw:
            type: string
          url:
            type: string
        selected: false
        title: URL 파싱
        type: code
        variables:
        - value_selector:
          - h_http_tts_worker
          - body
          variable: body
      height: 80
      id: c_code_audio_url_parse
      position:
        x: 2900
        y: 1450
      positionAbsolute:
        x: 2900
        y: 1450
      selected: false
      type: custom
      width: 242
    - data:
        desc: Worker 응답 JSON에서 url 필드를 파싱해 audio 태그로 감쌈
        selected: false
        template: '{% if url %}<audio controls src="{{ url }}"></audio>{% else %}(음성 생성 실패){% endif %}'
        title: 오디오 태그 조립
        type: template-transform
        variables:
        - value_selector:
          - c_code_audio_url_parse
          - url
          variable: url
      height: 96
      id: c_tpl_audio_final
      position:
        x: 3200
        y: 1450
      positionAbsolute:
        x: 3200
        y: 1450
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          type: no-auth
        body:
          data:
          - key: ''
            type: text
            value: '{"p_game_id": "{{#conversation.active_game_id#}}", "p_patch": {"debug_tts_worker_raw": {{#h_http_tts_worker.body#}}, "debug_tts_parsed_url": "{{#c_code_audio_url_parse.url#}}", "debug_tts_text": "{{#c_code_voice_lookup.tts_text#}}"}}'
          type: json
        desc: Worker 응답 원문/파싱url/전송 텍스트(tts_text)를 game_save에 기록
        headers: 'apikey:{{#env.SUPABASE_SERVICE_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_SERVICE_KEY#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
          read: 30
          write: 30
        title: TTS 디버그 로그 저장
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/rpc/debug_log'
      height: 201
      id: h_http_tts_debuglog
      position:
        x: 2900
        y: 1700
      positionAbsolute:
        x: 2900
        y: 1700
      selected: false
      type: custom
      width: 242
    viewport:
      x: -878.3846055169793
      y: -309.0675103062374
      zoom: 0.5743491774985173
  rag_pipeline_variables: []
